In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Data_Train.csv')
df

,ID,Asst_Reg,GGGrade,Experience,Validation,Yearly Income,Home Status,Unpaid 2 years,Already Defaulted,Designation,...,File Status,State,Account Open,Total Unpaid CL,Duration,Unpaid Amount,Reason,Claim Type,Due Fee,Loan/No Loan
0,95074,421802,II,>10yrs,Vfied,633600.00,MOR??AGE,0,0,GLENDALE NISSAN,...,fully paid,California,17,58598.0,3 years,31216.05,debt consolidation,I,0.0,0
1,134131,3964312,IV,7yrs,Source Verified,85483.20,REN?,0,0,Business Teacher,...,whole,NC,15,18924.0,5 years,11660.49,debt consolidation,I,0.0,0
2,92602,4247560,III,<1yr,Source Verified,79200.00,REN?,0,0,driver,...,whole,Florida,7,15604.0,5 years,5637.87,major purchase,I,0.0,0
3,22591,197179,III,<1yr,Vfied,61600.00,REN?,0,0,AvePoint,...,fully paid,NewJersey,9,22410.0,3 years,15607.17,major purchase,I,0.0,1
4,125060,4646684,V,2yrs,Source Verified,68053.92,REN?,0,0,Lead Tester,...,fully paid,LA,10,36022.0,5 years,27472.86,debt consolidation,I,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87495,120884,4535984,II,>10yrs,Not Vfied,75680.00,REN?,0,0,Engineer Support II,...,whole,MI,12,32702.0,3 years,10012.05,debt consolidation,I,0.0,0
87496,33259,2624710,IV,3yrs,Source Verified,90423.52,REN?,0,0,Dental Hygienist,...,whole,MA,23,32204.0,5 years,24921.54,debt consolidation,I,0.0,0
87497,102153,5966919,II,>10yrs,Source Verified,91520.00,MOR??AGE,0,0,Interface Coordinator,...,fully paid,CT,8,29050.0,3 years,14517.90,debt consolidation,I,0.0,0
87498,115343,2630667,III,1yrs,Source Verified,61600.00,MOR??AGE,0,0,PARTS CLERK,...,whole,PA,11,24900.0,3 years,8454.24,debt consolidation,I,0.0,0
87499,104968,6637289,III,2yrs,Vfied,NaN,REN?,0,0,Outside sales rep,...,whole,California,7,21746.0,5 years,8717.58,debt consolidation,I,0.0,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87500 entries, 0 to 87499
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   87500 non-null  int64
 1   Asst_Reg             87500 non-null  int64
 2   GGGrade              87500 non-null  object
 3   Experience           87500 non-null  object
 4   Validation           87500 non-null  object
 5   Yearly Income        81925 non-null  float64
 6   Home Status          87500 non-null  object
 7   Unpaid 2 years       87500 non-null  int64
 8   Already Defaulted    87500 non-null  int64
 9   Designation          86086 non-null  object
 10  Debt to Income       84011 non-null  float64
 11  Postal Code          86111 non-null  float64
 12  Lend Amount          87500 non-null  float64
 13  Deprecatory Records  87500 non-null  int64
 14  Interest Charged     87500 non-null  float64
 15  Usage Rate           87500 non-null  float64
 16  Inquiries            87500 non-null  int64
 17  Present Balance      87500 non-null  float64
 18  Gross Collection     87500 non-null  float64
 19  Sub GGGrade          87500 non-null  int64
 20  File Status          87500 non-null  object
 21  State                87500 non-null  object
 22  Account Open         87500 non-null  int64
 23  Total Unpaid CL      83314 non-null  float64
 24  Duration             87500 non-null  object
 25  Unpaid Amount        82648 non-null  float64
 26  Reason               87500 non-null  object
 27  Claim Type           87500 non-null  object
 28  Due Fee              87500 non-null  float64
 29  Loan/No Loan         87500 non-null  int64
dtypes: float64(11), int64(9), object(10)
memory usage: 20.0+ MB

In [4]:
for feature in df.columns:
    print("--",feature,"--")
    print (df[feature].value_counts(normalize=True))
    print("\n\n")

-- ID --
95074     0.000011
102140    0.000011
102258    0.000011
80480     0.000011
39012     0.000011
            ...
79773     0.000011
40215     0.000011
61647     0.000011
76276     0.000011
104968    0.000011
Name: ID, Length: 87500, dtype: float64



-- Asst_Reg --
6238431    0.000034
7054989    0.000034
6428230    0.000034
4738693    0.000034
1195917    0.000034
             ...
6084772    0.000011
391671     0.000011
6095924    0.000011
4728725    0.000011
6637289    0.000011
Name: Asst_Reg, Length: 83966, dtype: float64



-- GGGrade --
II     0.285326
III    0.281737
I      0.161954
IV     0.158480
V      0.081760
VI     0.025051
VII    0.005691
Name: GGGrade, dtype: float64



-- Experience --
>10yrs    0.352560
2yrs      0.092160
3yrs      0.084000
<1yr      0.082389
1yrs      0.066891
5yrs      0.064263
4yrs      0.060846
7yrs      0.054423
8yrs      0.052617
6yrs      0.048629
9yrs      0.041223
Name: Experience, dtype: float64



-- Validation --
Source Verified    0.394331
Vfied              0.304480
Not Vfied          0.301189
Name: Validation, dtype: float64



-- Yearly Income --
105600.00    0.039194
88000.00     0.034898
114400.00    0.030381
123200.00    0.029417
70400.00     0.027904
               ...
108894.72    0.000012
179688.96    0.000012
62575.04     0.000012
168590.40    0.000012
90423.52     0.000012
Name: Yearly Income, Length: 6871, dtype: float64



-- Home Status --
MOR??AGE    0.504686
REN?        0.399017
OWN         0.096183
OTHER       0.000069
NONE        0.000046
Name: Home Status, dtype: float64



-- Unpaid 2 years --
0     0.797337
1     0.132617
2     0.041806
3     0.014560
4     0.006457
5     0.003143
6     0.001783
7     0.000766
8     0.000491
9     0.000297
10    0.000251
12    0.000171
11    0.000149
18    0.000046
14    0.000046
13    0.000034
16    0.000023
15    0.000023
Name: Unpaid 2 years, dtype: float64



-- Already Defaulted --
0    0.994686
1    0.005017
2    0.000251
6    0.000011
5    0.000011
4    0.000011
3    0.000011
Name: Already Defaulted, dtype: float64



-- Designation --
School Teacher                 0.018412
Super Lead                     0.015357
Nurse                          0.008631
RN                             0.007504
Owner                          0.007237
                                 ...
B.R. Amon and Sons             0.000012
Medical record technician      0.000012
Executive Field Assistant      0.000012
Speech language pathologist    0.000012
Outside sales rep              0.000012
Name: Designation, Length: 40354, dtype: float64



-- Debt to Income --
22.9824    0.000726
28.2240    0.000726
36.2880    0.000714
24.1920    0.000702
32.2560    0.000702
             ...
59.6736    0.000012
64.9152    0.000012
0.5880     0.000012
65.2344    0.000012
63.6888    0.000012
Name: Debt to Income, Length: 3964, dtype: float64



-- Postal Code --
75000.0    0.011346
94500.0    0.010742
11200.0    0.010486
60600.0    0.009778
33100.0    0.008988
             ...
4300.0     0.000012
90100.0    0.000012
50000.0    0.000012
96500.0    0.000012
83800.0    0.000012
Name: Postal Code, Length: 865, dtype: float64



-- Lend Amount --
17100.00    0.069909
20520.00    0.056514
34200.00    0.055749
25650.00    0.055269
59850.00    0.043794
              ...
56900.25    0.000011
55275.75    0.000011
1923.75     0.000011
45400.50    0.000011
52796.25    0.000011
Name: Lend Amount, Length: 1298, dtype: float64



-- Deprecatory Records --
0     0.843737
1     0.129760
2     0.016926
3     0.005314
4     0.002206
5     0.000971
6     0.000446
7     0.000274
8     0.000160
10    0.000080
9     0.000034
16    0.000023
12    0.000011
86    0.000011
11    0.000011
13    0.000011
22    0.000011
15    0.000011
Name: Deprecatory Records, dtype: float64



-- Interest Charged --
14.56    0.000857
15.69    0.000846
9.53     0.000846
23.65    0.000834
12.57    0.000834
           ...
13.00    0.000389
16.20    0.000377
8.00     0.000354
9.93     0.000354
25.00    0.000286
Name: Interest Charged, Length: 1701, dtype: float64



-- Usage Rate --
0.000      0.002697
113.520    0.002400
91.160     0.002354
99.760     0.002343
96.320     0.002103
             ...
194.360    0.000011
179.740    0.000011
193.672    0.000011
189.716    0.000011
222.740    0.000011
Name: Usage Rate, Length: 1088, dtype: float64



-- Inquiries --
0    0.569749
1    0.269726
2    0.103314
3    0.040423
4    0.012069
5    0.003600
6    0.001109
8    0.000011
Name: Inquiries, dtype: float64



-- Present Balance --
0.00         0.000160
39779.40     0.000069
22114.14     0.000069
40570.98     0.000069
43530.22     0.000069
               ...
262744.44    0.000011
191517.27    0.000011
114039.29    0.000011
913563.48    0.000011
10445.85     0.000011
Name: Present Balance, Length: 73819, dtype: float64



-- Gross Collection --
0.00        0.980743
2080.72     0.000023
11.90       0.000023
5437.55     0.000023
1200.00     0.000023
              ...
1054.22     0.000011
803.04      0.000011
2108.94     0.000011
13832.92    0.000011
691.56      0.000011
Name: Gross Collection, Length: 1678, dtype: float64



-- Sub GGGrade --
19    0.062331
18    0.061291
22    0.059600
21    0.059131
23    0.057863
24    0.056651
17    0.055371
20    0.054949
16    0.051383
15    0.049497
25    0.048491
26    0.041760
14    0.037600
27    0.033840
28    0.030034
29    0.028697
13    0.025954
11    0.025051
30    0.024149
12    0.023851
31    0.020777
32    0.019737
33    0.016880
34    0.013440
35    0.010926
36    0.007749
37    0.005509
38    0.004994
39    0.003749
40    0.003051
41    0.002023
42    0.001383
43    0.001040
45    0.000663
44    0.000583
Name: Sub GGGrade, dtype: float64



-- File Status --
whole         0.529143
fully paid    0.470857
Name: File Status, dtype: float64



-- State --
California    0.144286
Newyork       0.082400
TX            0.081486
Florida       0.066434
IL            0.040023
NewJersey     0.037177
PA            0.036217
Ohio          0.033931
GA            0.033417
VA            0.029086
NC            0.028800
MI            0.025749
Maryland      0.023691
AZ            0.023520
MA            0.023143
CO            0.021509
WA            0.021257
MN            0.019120
IN            0.016377
MO            0.016114
TN            0.015554
CT            0.015143
NV            0.013394
AL            0.013029
WI            0.012754
OR            0.012000
LA            0.011646
SC            0.011486
KY            0.009383
KS            0.009360
OK            0.008754
AR            0.007429
UT            0.007303
NM            0.005680
HI            0.005314
NH            0.004880
MS            0.004686
WV            0.004434
RI            0.004251
MT            0.002960
DE            0.002720
DC            0.002686
AK            0.002526
WY            0.002126
SD            0.002069
VT            0.002034
NE            0.001531
ND            0.000571
ME            0.000560
Name: State, dtype: float64



-- Account Open --
11    0.090594
10    0.089040
9     0.083783
12    0.082526
13    0.074354
8     0.072011
14    0.065566
7     0.060457
15    0.055371
16    0.046206
6     0.041520
17    0.038514
18    0.032514
19    0.026000
5     0.023943
20    0.021406
21    0.016926
22    0.014343
23    0.011783
24    0.009097
4     0.008331
25    0.006743
26    0.005611
27    0.004057
28    0.003486
29    0.002971
3     0.002240
30    0.002114
31    0.001760
32    0.001326
33    0.001097
34    0.000869
35    0.000594
36    0.000537
37    0.000469
39    0.000274
38    0.000263
2     0.000206
40    0.000149
43    0.000137
41    0.000137
42    0.000126
49    0.000080
45    0.000080
44    0.000069
46    0.000046
48    0.000046
51    0.000034
50    0.000034
54    0.000034
56    0.000023
52    0.000023
80    0.000011
83    0.000011
63    0.000011
68    0.000011
57    0.000011
65    0.000011
47    0.000011
Name: Account Open, dtype: float64



-- Total Unpaid CL --
24070.00     0.003457
14110.00     0.003385
24900.00     0.003373
19090.00     0.003373
27390.00     0.003253
               ...
274232.00    0.000012
30226.94     0.000012
12101.40     0.000012
103972.44    0.000012
105859.86    0.000012
Name: Total Unpaid CL, Length: 4385, dtype: float64



-- Duration --
3 years    0.686411
5 years    0.313589
Name: Duration, dtype: float64



-- Unpaid Amount --
0.00        0.002190
11407.41    0.000169
25915.05    0.000157
12763.44    0.000145
8864.64     0.000145
              ...
68526.54    0.000012
28683.54    0.000012
76825.17    0.000012
50424.48    0.000012
52676.55    0.000012
Name: Unpaid Amount, Length: 34679, dtype: float64



-- Reason --
debt  consolidation    0.600674
credit  card           0.241166
home  improvement      0.055840
other                  0.043131
major  purchase        0.017280
medical                0.009383
small  business        0.008583
car                    0.008114
moving                 0.005749
vacation               0.004846
house                  0.003554
wedding                0.001246
renewable  energy      0.000434
Name: Reason, dtype: float64



-- Claim Type --
I    0.999474
J    0.000526
Name: Claim Type, dtype: float64



-- Due Fee --
0.00     0.988697
15.00    0.003143
30.00    0.000320
20.50    0.000046
44.03    0.000046
           ...
84.92    0.000011
28.18    0.000011
15.21    0.000011
38.02    0.000011
18.06    0.000011
Name: Due Fee, Length: 608, dtype: float64



-- Loan/No Loan --
0    0.811291
1    0.188709
Name: Loan/No Loan, dtype: float64

In [5]:
df['GGGrade'].replace('VII','VI',inplace=True)
df['GGGrade'].replace('VI','V',inplace=True)

In [6]:
df['GGGrade'].value_counts(normalize=True)

II     0.285326
III    0.281737
I      0.161954
IV     0.158480
V      0.112503
Name: GGGrade, dtype: float64

In [7]:
df['Experience'].value_counts(normalize=True)

>10yrs    0.352560
2yrs      0.092160
3yrs      0.084000
<1yr      0.082389
1yrs      0.066891
5yrs      0.064263
4yrs      0.060846
7yrs      0.054423
8yrs      0.052617
6yrs      0.048629
9yrs      0.041223
Name: Experience, dtype: float64

In [8]:
df['Experience'].replace('<1yr','1-3',inplace=True)
df['Experience'].replace('1yrs','1-3',inplace=True)
df['Experience'].replace('2yrs','1-3',inplace=True)
df['Experience'].replace('3yrs','1-3',inplace=True)

In [9]:
df['Experience'].replace('4yrs','4-9',inplace=True)
df['Experience'].replace('5yrs','4-9',inplace=True)
df['Experience'].replace('6yrs','4-9',inplace=True)
df['Experience'].replace('7yrs','4-9',inplace=True)
df['Experience'].replace('8yrs','4-9',inplace=True)
df['Experience'].replace('9yrs','4-9',inplace=True)

In [10]:
df['Validation'].value_counts(normalize=True)

Source Verified    0.394331
Vfied              0.304480
Not Vfied          0.301189
Name: Validation, dtype: float64

In [11]:
df['Validation'].replace('Source Verified','Vfied',inplace=True)

In [12]:
df['Home Status'].value_counts(normalize=True)

MOR??AGE    0.504686
REN?        0.399017
OWN         0.096183
OTHER       0.000069
NONE        0.000046
Name: Home Status, dtype: float64

In [13]:
df['Home Status'].replace('NONE','MOR??AGE',inplace=True)
df['Home Status'].replace('OTHER','MOR??AGE',inplace=True)

In [14]:
df['Unpaid 2 years'] = df['Unpaid 2 years'].astype(str)
df

,ID,Asst_Reg,GGGrade,Experience,Validation,Yearly Income,Home Status,Unpaid 2 years,Already Defaulted,Designation,...,File Status,State,Account Open,Total Unpaid CL,Duration,Unpaid Amount,Reason,Claim Type,Due Fee,Loan/No Loan
0,95074,421802,II,>10yrs,Vfied,633600.00,MOR??AGE,0,0,GLENDALE NISSAN,...,fully paid,California,17,58598.0,3 years,31216.05,debt consolidation,I,0.0,0
1,134131,3964312,IV,4-9,Vfied,85483.20,REN?,0,0,Business Teacher,...,whole,NC,15,18924.0,5 years,11660.49,debt consolidation,I,0.0,0
2,92602,4247560,III,1-3,Vfied,79200.00,REN?,0,0,driver,...,whole,Florida,7,15604.0,5 years,5637.87,major purchase,I,0.0,0
3,22591,197179,III,1-3,Vfied,61600.00,REN?,0,0,AvePoint,...,fully paid,NewJersey,9,22410.0,3 years,15607.17,major purchase,I,0.0,1
4,125060,4646684,V,1-3,Vfied,68053.92,REN?,0,0,Lead Tester,...,fully paid,LA,10,36022.0,5 years,27472.86,debt consolidation,I,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87495,120884,4535984,II,>10yrs,Not Vfied,75680.00,REN?,0,0,Engineer Support II,...,whole,MI,12,32702.0,3 years,10012.05,debt consolidation,I,0.0,0
87496,33259,2624710,IV,1-3,Vfied,90423.52,REN?,0,0,Dental Hygienist,...,whole,MA,23,32204.0,5 years,24921.54,debt consolidation,I,0.0,0
87497,102153,5966919,II,>10yrs,Vfied,91520.00,MOR??AGE,0,0,Interface Coordinator,...,fully paid,CT,8,29050.0,3 years,14517.90,debt consolidation,I,0.0,0
87498,115343,2630667,III,1-3,Vfied,61600.00,MOR??AGE,0,0,PARTS CLERK,...,whole,PA,11,24900.0,3 years,8454.24,debt consolidation,I,0.0,0
87499,104968,6637289,III,1-3,Vfied,NaN,REN?,0,0,Outside sales rep,...,whole,California,7,21746.0,5 years,8717.58,debt consolidation,I,0.0,0

In [15]:
df['Unpaid 2 years'].value_counts(normalize=True)

0     0.797337
1     0.132617
2     0.041806
3     0.014560
4     0.006457
5     0.003143
6     0.001783
7     0.000766
8     0.000491
9     0.000297
10    0.000251
12    0.000171
11    0.000149
18    0.000046
14    0.000046
13    0.000034
16    0.000023
15    0.000023
Name: Unpaid 2 years, dtype: float64

In [16]:
for i in range(df.shape[0]):
    if (df.loc[i,'Unpaid 2 years'] != '0') and (df.loc[i,'Unpaid 2 years'] != '1') and (df.loc[i,'Unpaid 2 years'] != '2'):
        df.loc[i,'Unpaid 2 years'] = 3

In [17]:
df['Already Defaulted'] = df['Already Defaulted'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87500 entries, 0 to 87499
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   87500 non-null  int64
 1   Asst_Reg             87500 non-null  int64
 2   GGGrade              87500 non-null  object
 3   Experience           87500 non-null  object
 4   Validation           87500 non-null  object
 5   Yearly Income        81925 non-null  float64
 6   Home Status          87500 non-null  object
 7   Unpaid 2 years       87500 non-null  object
 8   Already Defaulted    87500 non-null  object
 9   Designation          86086 non-null  object
 10  Debt to Income       84011 non-null  float64
 11  Postal Code          86111 non-null  float64
 12  Lend Amount          87500 non-null  float64
 13  Deprecatory Records  87500 non-null  int64
 14  Interest Charged     87500 non-null  float64
 15  Usage Rate           87500 non-null  float64
 16  Inquiries            87500 non-null  int64
 17  Present Balance      87500 non-null  float64
 18  Gross Collection     87500 non-null  float64
 19  Sub GGGrade          87500 non-null  int64
 20  File Status          87500 non-null  object
 21  State                87500 non-null  object
 22  Account Open         87500 non-null  int64
 23  Total Unpaid CL      83314 non-null  float64
 24  Duration             87500 non-null  object
 25  Unpaid Amount        82648 non-null  float64
 26  Reason               87500 non-null  object
 27  Claim Type           87500 non-null  object
 28  Due Fee              87500 non-null  float64
 29  Loan/No Loan         87500 non-null  int64
dtypes: float64(11), int64(7), object(12)
memory usage: 20.0+ MB

In [18]:
df['Already Defaulted'].value_counts(normalize=True)

0    0.994686
1    0.005017
2    0.000251
6    0.000011
5    0.000011
4    0.000011
3    0.000011
Name: Already Defaulted, dtype: float64

In [19]:
for i in range(df.shape[0]):
    if df.loc[i,'Already Defaulted'] != '0':
        df.loc[i,'Already Defaulted'] = '1'

In [20]:
df['Designation'].value_counts(normalize=True)

School Teacher                 0.018412
Super Lead                     0.015357
Nurse                          0.008631
RN                             0.007504
Owner                          0.007237
                                 ...
B.R. Amon and Sons             0.000012
Medical record technician      0.000012
Executive Field Assistant      0.000012
Speech language pathologist    0.000012
Outside sales rep              0.000012
Name: Designation, Length: 40354, dtype: float64

In [21]:
df['Postal Code'] = df['Postal Code'].astype(str)
df['Postal Code'].value_counts(normalize=True)

nan        0.015874
75000.0    0.011166
94500.0    0.010571
11200.0    0.010320
60600.0    0.009623
             ...
4300.0     0.000011
90100.0    0.000011
50000.0    0.000011
96500.0    0.000011
83800.0    0.000011
Name: Postal Code, Length: 866, dtype: float64

In [22]:
df['Deprecatory Records'] = df['Deprecatory Records'].astype(str)
df['Deprecatory Records'].value_counts(normalize=True)

0     0.843737
1     0.129760
2     0.016926
3     0.005314
4     0.002206
5     0.000971
6     0.000446
7     0.000274
8     0.000160
10    0.000080
9     0.000034
16    0.000023
12    0.000011
86    0.000011
11    0.000011
13    0.000011
22    0.000011
15    0.000011
Name: Deprecatory Records, dtype: float64

In [23]:
for i in range(df.shape[0]):
    if (df.loc[i,'Deprecatory Records'] != '0') and (df.loc[i,'Deprecatory Records'] != '1'):
        df.loc[i,'Deprecatory Records'] = '2'

In [24]:
df['Inquiries'] = df['Inquiries'].astype(str)
df['Inquiries'].value_counts(normalize=True)

0    0.569749
1    0.269726
2    0.103314
3    0.040423
4    0.012069
5    0.003600
6    0.001109
8    0.000011
Name: Inquiries, dtype: float64

In [25]:
for i in range(df.shape[0]):
    if (df.loc[i,'Inquiries'] != '0') and (df.loc[i,'Inquiries'] != '1') and (df.loc[i,'Inquiries'] != '2'):
        df.loc[i,'Inquiries'] = '3'

In [26]:
df['Reason'].value_counts(normalize=True)

debt  consolidation    0.600674
credit  card           0.241166
home  improvement      0.055840
other                  0.043131
major  purchase        0.017280
medical                0.009383
small  business        0.008583
car                    0.008114
moving                 0.005749
vacation               0.004846
house                  0.003554
wedding                0.001246
renewable  energy      0.000434
Name: Reason, dtype: float64

In [ ]:
for i in range(df.shape[0]):
    if (df.loc[i,'Inquiries'] != 'debt  consolidation') and (df.loc[i,'Inquiries'] != 'credit  card') and (df.loc[i,'Inquiries'] != 'home  improvement') and (df.loc[i,'Inquiries'] != 'other'):
        df.loc[i,'Inquiries'] = 'other-1'

In [ ]:
df.to_csv('milestone1.csv',index=0)

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('milestone1.csv')
df

,ID,Asst_Reg,GGGrade,Experience,Validation,Yearly Income,Home Status,Unpaid 2 years,Already Defaulted,Designation,...,File Status,State,Account Open,Total Unpaid CL,Duration,Unpaid Amount,Reason,Claim Type,Due Fee,Loan/No Loan
0,95074,421802,II,>10yrs,Vfied,633600.00,MOR??AGE,0,0,GLENDALE NISSAN,...,fully paid,California,17,58598.0,3 years,31216.05,debt consolidation,I,0.0,0
1,134131,3964312,IV,4-9,Vfied,85483.20,REN?,0,0,Business Teacher,...,whole,NC,15,18924.0,5 years,11660.49,debt consolidation,I,0.0,0
2,92602,4247560,III,1-3,Vfied,79200.00,REN?,0,0,driver,...,whole,Florida,7,15604.0,5 years,5637.87,major purchase,I,0.0,0
3,22591,197179,III,1-3,Vfied,61600.00,REN?,0,0,AvePoint,...,fully paid,NewJersey,9,22410.0,3 years,15607.17,major purchase,I,0.0,1
4,125060,4646684,V,1-3,Vfied,68053.92,REN?,0,0,Lead Tester,...,fully paid,LA,10,36022.0,5 years,27472.86,debt consolidation,I,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87495,120884,4535984,II,>10yrs,Not Vfied,75680.00,REN?,0,0,Engineer Support II,...,whole,MI,12,32702.0,3 years,10012.05,debt consolidation,I,0.0,0
87496,33259,2624710,IV,1-3,Vfied,90423.52,REN?,0,0,Dental Hygienist,...,whole,MA,23,32204.0,5 years,24921.54,debt consolidation,I,0.0,0
87497,102153,5966919,II,>10yrs,Vfied,91520.00,MOR??AGE,0,0,Interface Coordinator,...,fully paid,CT,8,29050.0,3 years,14517.90,debt consolidation,I,0.0,0
87498,115343,2630667,III,1-3,Vfied,61600.00,MOR??AGE,0,0,PARTS CLERK,...,whole,PA,11,24900.0,3 years,8454.24,debt consolidation,I,0.0,0
87499,104968,6637289,III,1-3,Vfied,NaN,REN?,0,0,Outside sales rep,...,whole,California,7,21746.0,5 years,8717.58,debt consolidation,I,0.0,0

In [4]:
df.drop(['Designation','Asst_Reg','Postal Code','Claim Type'],axis=1,inplace=True)

In [5]:
df.drop(['Account Open', 'State', 'Sub GGGrade'],axis=1,inplace=True)

In [6]:
df.drop('ID',axis=1,inplace=True)

In [7]:
df.isnull().sum()

GGGrade                   0
Experience                0
Validation                0
Yearly Income          5575
Home Status               0
Unpaid 2 years            0
Already Defaulted         0
Debt to Income         3489
Lend Amount               0
Deprecatory Records       0
Interest Charged          0
Usage Rate                0
Inquiries                 0
Present Balance           0
Gross Collection          0
File Status               0
Total Unpaid CL        4186
Duration                  0
Unpaid Amount          4852
Reason                    0
Due Fee                   0
Loan/No Loan              0
dtype: int64

In [8]:
df['Loan/No Loan'].value_counts()

0    70988
1    16512
Name: Loan/No Loan, dtype: int64

In [9]:
df['Loan/No Loan'].value_counts(normalize=True)

0    0.811291
1    0.188709
Name: Loan/No Loan, dtype: float64

In [10]:
df['Yearly Income'].fillna(df['Yearly Income'].mean(),inplace=True)
df['Debt to Income'].fillna(df['Debt to Income'].mean(),inplace=True)
df['Total Unpaid CL'].fillna(df['Total Unpaid CL'].mean(),inplace=True)
df['Unpaid Amount'].fillna(df['Unpaid Amount'].mean(),inplace=True)

#df['Postal Code'].fillna(df['Postal Code'].value_counts().index[0],inplace=True)
#df['Designation'].fillna(df['Designation'].value_counts().index[0],inplace=True)

In [11]:
df.isnull().sum()

GGGrade                0
Experience             0
Validation             0
Yearly Income          0
Home Status            0
Unpaid 2 years         0
Already Defaulted      0
Debt to Income         0
Lend Amount            0
Deprecatory Records    0
Interest Charged       0
Usage Rate             0
Inquiries              0
Present Balance        0
Gross Collection       0
File Status            0
Total Unpaid CL        0
Duration               0
Unpaid Amount          0
Reason                 0
Due Fee                0
Loan/No Loan           0
dtype: int64

In [12]:
df.dropna(inplace=True)
df

,GGGrade,Experience,Validation,Yearly Income,Home Status,Unpaid 2 years,Already Defaulted,Debt to Income,Lend Amount,Deprecatory Records,...,Inquiries,Present Balance,Gross Collection,File Status,Total Unpaid CL,Duration,Unpaid Amount,Reason,Due Fee,Loan/No Loan
0,II,>10yrs,Vfied,633600.00000,MOR??AGE,0,0,12.5496,42023.25,0,...,other-1,607161.90,0.0,fully paid,58598.0,3 years,31216.05,debt consolidation,0.0,0
1,IV,4-9,Vfied,85483.20000,REN?,0,0,9.0048,38133.00,0,...,other-1,269234.06,0.0,whole,18924.0,5 years,11660.49,debt consolidation,0.0,0
2,III,1-3,Vfied,79200.00000,REN?,0,0,24.9144,17100.00,0,...,other-1,22476.53,0.0,whole,15604.0,5 years,5637.87,major purchase,0.0,0
3,III,1-3,Vfied,61600.00000,REN?,0,0,16.5816,5130.00,0,...,other-1,15242.09,0.0,fully paid,22410.0,3 years,15607.17,major purchase,0.0,1
4,V,1-3,Vfied,68053.92000,REN?,0,0,40.0512,19665.00,0,...,other-1,65433.94,0.0,fully paid,36022.0,5 years,27472.86,debt consolidation,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87495,II,>10yrs,Not Vfied,75680.00000,REN?,0,0,19.3200,10260.00,0,...,other-1,15100.14,0.0,whole,32702.0,3 years,10012.05,debt consolidation,0.0,0
87496,IV,1-3,Vfied,90423.52000,REN?,0,0,48.8208,27360.00,0,...,other-1,102811.88,0.0,whole,32204.0,5 years,24921.54,debt consolidation,0.0,0
87497,II,>10yrs,Vfied,91520.00000,MOR??AGE,0,0,7.7952,8550.00,2,...,other-1,14584.11,0.0,fully paid,29050.0,3 years,14517.90,debt consolidation,0.0,0
87498,III,1-3,Vfied,61600.00000,MOR??AGE,0,0,8.2992,23769.00,1,...,other-1,59281.66,0.0,whole,24900.0,3 years,8454.24,debt consolidation,0.0,0
87499,III,1-3,Vfied,134859.62978,REN?,0,0,15.1872,28471.50,1,...,other-1,10445.85,0.0,whole,21746.0,5 years,8717.58,debt consolidation,0.0,0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87500 entries, 0 to 87499
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GGGrade              87500 non-null  object
 1   Experience           87500 non-null  object
 2   Validation           87500 non-null  object
 3   Yearly Income        87500 non-null  float64
 4   Home Status          87500 non-null  object
 5   Unpaid 2 years       87500 non-null  int64
 6   Already Defaulted    87500 non-null  int64
 7   Debt to Income       87500 non-null  float64
 8   Lend Amount          87500 non-null  float64
 9   Deprecatory Records  87500 non-null  int64
 10  Interest Charged     87500 non-null  float64
 11  Usage Rate           87500 non-null  float64
 12  Inquiries            87500 non-null  object
 13  Present Balance      87500 non-null  float64
 14  Gross Collection     87500 non-null  float64
 15  File Status          87500 non-null  object
 16  Total Unpaid CL      87500 non-null  float64
 17  Duration             87500 non-null  object
 18  Unpaid Amount        87500 non-null  float64
 19  Reason               87500 non-null  object
 20  Due Fee              87500 non-null  float64
 21  Loan/No Loan         87500 non-null  int64
dtypes: float64(10), int64(4), object(8)
memory usage: 15.4+ MB

In [14]:
X = df.drop('Loan/No Loan', axis=1)

y = df['Loan/No Loan']

In [15]:
X = pd.get_dummies(X,drop_first=True)

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled = scaler.fit_transform(X)
X=pd.DataFrame(scaled,columns=X.columns,index=X.index)

In [17]:
 from sklearn import svm
clf = svm.SVC(class_weight='balanced')
model=clf.fit(X,y)

In [94]:
df = pd.read_csv('Data_Test.csv')
df

,ID,Asst_Reg,GGGrade,Experience,Validation,Yearly Income,Home Status,Unpaid 2 years,Already Defaulted,Designation,...,Sub GGGrade,File Status,State,Account Open,Total Unpaid CL,Duration,Unpaid Amount,Reason,Claim Type,Due Fee
0,198980,1773284,II,2yrs,Source Verified,140800.00,OWN,0,0,processor,...,17,fully paid,California,23,33532.0,3 years,15755.94,major purchase,I,0.0
1,167688,5298273,II,>10yrs,Vfied,146080.00,MOR??AGE,0,0,Speech Language Pathologist,...,19,whole,Florida,17,149234.0,5 years,68237.55,debt consolidation,I,0.0
2,198768,189781,VI,>10yrs,Vfied,202222.24,MOR??AGE,0,0,Raytheon,...,37,whole,NM,15,70218.0,5 years,66272.76,debt consolidation,I,0.0
3,192564,1530906,II,>10yrs,Vfied,105600.00,MOR??AGE,1,0,Computer/Network Technician,...,19,fully paid,DE,18,79182.0,3 years,15595.20,credit card,I,0.0
4,151199,4410316,III,4yrs,Not Vfied,151360.00,MOR??AGE,0,0,NDE Tech,...,25,fully paid,Florida,7,13612.0,3 years,8850.96,debt consolidation,I,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37495,191405,5774816,IV,4yrs,Vfied,308000.00,MOR??AGE,1,0,Regional Manager,...,29,fully paid,California,19,132468.0,3 years,57683.43,debt consolidation,I,0.0
37496,164868,1423834,IV,8yrs,Source Verified,158400.00,MOR??AGE,0,0,Clinical Coordinator,...,28,fully paid,PA,14,51958.0,5 years,51395.76,credit card,I,0.0
37497,163156,1895531,V,>10yrs,Not Vfied,52800.00,OWN,0,0,administrative,...,33,fully paid,California,9,8466.0,3 years,2783.88,debt consolidation,I,0.0
37498,169610,2168910,VI,9yrs,Not Vfied,52800.00,OWN,5,0,ParaEducator,...,40,whole,TN,9,17264.0,3 years,NaN,home improvement,I,0.0
37499,175557,4140268,II,>10yrs,Source Verified,121440.00,MOR??AGE,0,0,School Teacher,...,19,fully paid,California,15,47310.0,3 years,29504.34,debt consolidation,I,0.0

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37500 entries, 0 to 37499
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   37500 non-null  int64
 1   Asst_Reg             37500 non-null  int64
 2   GGGrade              37500 non-null  object
 3   Experience           37500 non-null  object
 4   Validation           37500 non-null  object
 5   Yearly Income        35075 non-null  float64
 6   Home Status          37500 non-null  object
 7   Unpaid 2 years       37500 non-null  int64
 8   Already Defaulted    37500 non-null  int64
 9   Designation          36914 non-null  object
 10  Debt to Income       35989 non-null  float64
 11  Postal Code          36889 non-null  float64
 12  Lend Amount          37500 non-null  float64
 13  Deprecatory Records  37500 non-null  int64
 14  Interest Charged     37500 non-null  float64
 15  Usage Rate           37500 non-null  float64
 16  Inquiries            37500 non-null  int64
 17  Present Balance      37500 non-null  float64
 18  Gross Collection     37500 non-null  float64
 19  Sub GGGrade          37500 non-null  int64
 20  File Status          37500 non-null  object
 21  State                37500 non-null  object
 22  Account Open         37500 non-null  int64
 23  Total Unpaid CL      35686 non-null  float64
 24  Duration             37500 non-null  object
 25  Unpaid Amount        35431 non-null  float64
 26  Reason               37500 non-null  object
 27  Claim Type           37500 non-null  object
 28  Due Fee              37500 non-null  float64
dtypes: float64(11), int64(8), object(10)
memory usage: 8.3+ MB

In [96]:
df['GGGrade'].replace('VII','VI',inplace=True)
df['GGGrade'].replace('VI','V',inplace=True)

In [97]:
df['GGGrade'].value_counts(normalize=True)

III    0.284853
II     0.281040
I      0.163440
IV     0.156213
V      0.114453
Name: GGGrade, dtype: float64

In [98]:
df['Experience'].value_counts(normalize=True)

>10yrs    0.350907
2yrs      0.090987
3yrs      0.083413
<1yr      0.082720
1yrs      0.065147
5yrs      0.064320
4yrs      0.059707
8yrs      0.057173
7yrs      0.052507
6yrs      0.049520
9yrs      0.043600
Name: Experience, dtype: float64

In [99]:
df['Experience'].replace('<1yr','1-3',inplace=True)
df['Experience'].replace('1yrs','1-3',inplace=True)
df['Experience'].replace('2yrs','1-3',inplace=True)
df['Experience'].replace('3yrs','1-3',inplace=True)

In [100]:
df['Experience'].replace('4yrs','4-9',inplace=True)
df['Experience'].replace('5yrs','4-9',inplace=True)
df['Experience'].replace('6yrs','4-9',inplace=True)
df['Experience'].replace('7yrs','4-9',inplace=True)
df['Experience'].replace('8yrs','4-9',inplace=True)
df['Experience'].replace('9yrs','4-9',inplace=True)

In [101]:
df['Validation'].value_counts(normalize=True)

Source Verified    0.390560
Not Vfied          0.306347
Vfied              0.303093
Name: Validation, dtype: float64

In [102]:
df['Validation'].replace('Source Verified','Vfied',inplace=True)

In [103]:
df['Home Status'].value_counts(normalize=True)

MOR??AGE    0.504320
REN?        0.399787
OWN         0.095787
NONE        0.000053
OTHER       0.000053
Name: Home Status, dtype: float64

In [104]:
df['Home Status'].replace('NONE','MOR??AGE',inplace=True)
df['Home Status'].replace('OTHER','MOR??AGE',inplace=True)

In [105]:
df['Unpaid 2 years'] = df['Unpaid 2 years'].astype(str)
df

,ID,Asst_Reg,GGGrade,Experience,Validation,Yearly Income,Home Status,Unpaid 2 years,Already Defaulted,Designation,...,Sub GGGrade,File Status,State,Account Open,Total Unpaid CL,Duration,Unpaid Amount,Reason,Claim Type,Due Fee
0,198980,1773284,II,1-3,Vfied,140800.00,OWN,0,0,processor,...,17,fully paid,California,23,33532.0,3 years,15755.94,major purchase,I,0.0
1,167688,5298273,II,>10yrs,Vfied,146080.00,MOR??AGE,0,0,Speech Language Pathologist,...,19,whole,Florida,17,149234.0,5 years,68237.55,debt consolidation,I,0.0
2,198768,189781,V,>10yrs,Vfied,202222.24,MOR??AGE,0,0,Raytheon,...,37,whole,NM,15,70218.0,5 years,66272.76,debt consolidation,I,0.0
3,192564,1530906,II,>10yrs,Vfied,105600.00,MOR??AGE,1,0,Computer/Network Technician,...,19,fully paid,DE,18,79182.0,3 years,15595.20,credit card,I,0.0
4,151199,4410316,III,4-9,Not Vfied,151360.00,MOR??AGE,0,0,NDE Tech,...,25,fully paid,Florida,7,13612.0,3 years,8850.96,debt consolidation,I,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37495,191405,5774816,IV,4-9,Vfied,308000.00,MOR??AGE,1,0,Regional Manager,...,29,fully paid,California,19,132468.0,3 years,57683.43,debt consolidation,I,0.0
37496,164868,1423834,IV,4-9,Vfied,158400.00,MOR??AGE,0,0,Clinical Coordinator,...,28,fully paid,PA,14,51958.0,5 years,51395.76,credit card,I,0.0
37497,163156,1895531,V,>10yrs,Not Vfied,52800.00,OWN,0,0,administrative,...,33,fully paid,California,9,8466.0,3 years,2783.88,debt consolidation,I,0.0
37498,169610,2168910,V,4-9,Not Vfied,52800.00,OWN,5,0,ParaEducator,...,40,whole,TN,9,17264.0,3 years,NaN,home improvement,I,0.0
37499,175557,4140268,II,>10yrs,Vfied,121440.00,MOR??AGE,0,0,School Teacher,...,19,fully paid,California,15,47310.0,3 years,29504.34,debt consolidation,I,0.0

In [106]:
df['Unpaid 2 years'].value_counts(normalize=True)

0     0.797760
1     0.132427
2     0.040027
3     0.014453
4     0.007307
5     0.003307
6     0.002187
7     0.001147
8     0.000613
10    0.000213
9     0.000213
12    0.000107
13    0.000053
17    0.000053
11    0.000053
15    0.000027
14    0.000027
18    0.000027
Name: Unpaid 2 years, dtype: float64

In [107]:
for i in range(df.shape[0]):
    if (df.loc[i,'Unpaid 2 years'] != '0') and (df.loc[i,'Unpaid 2 years'] != '1') and (df.loc[i,'Unpaid 2 years'] != '2'):
        df.loc[i,'Unpaid 2 years'] = 3

In [108]:
df['Already Defaulted'] = df['Already Defaulted'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37500 entries, 0 to 37499
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   37500 non-null  int64
 1   Asst_Reg             37500 non-null  int64
 2   GGGrade              37500 non-null  object
 3   Experience           37500 non-null  object
 4   Validation           37500 non-null  object
 5   Yearly Income        35075 non-null  float64
 6   Home Status          37500 non-null  object
 7   Unpaid 2 years       37500 non-null  object
 8   Already Defaulted    37500 non-null  object
 9   Designation          36914 non-null  object
 10  Debt to Income       35989 non-null  float64
 11  Postal Code          36889 non-null  float64
 12  Lend Amount          37500 non-null  float64
 13  Deprecatory Records  37500 non-null  int64
 14  Interest Charged     37500 non-null  float64
 15  Usage Rate           37500 non-null  float64
 16  Inquiries            37500 non-null  int64
 17  Present Balance      37500 non-null  float64
 18  Gross Collection     37500 non-null  float64
 19  Sub GGGrade          37500 non-null  int64
 20  File Status          37500 non-null  object
 21  State                37500 non-null  object
 22  Account Open         37500 non-null  int64
 23  Total Unpaid CL      35686 non-null  float64
 24  Duration             37500 non-null  object
 25  Unpaid Amount        35431 non-null  float64
 26  Reason               37500 non-null  object
 27  Claim Type           37500 non-null  object
 28  Due Fee              37500 non-null  float64
dtypes: float64(11), int64(6), object(12)
memory usage: 8.3+ MB

In [109]:
df['Already Defaulted'].value_counts(normalize=True)

0    0.995013
1    0.004747
2    0.000160
3    0.000080
Name: Already Defaulted, dtype: float64

In [110]:
for i in range(df.shape[0]):
    if df.loc[i,'Already Defaulted'] != '0':
        df.loc[i,'Already Defaulted'] = '1'

In [111]:
df['Designation'].value_counts(normalize=True)

School Teacher                      0.018042
Super Lead                          0.016119
Nurse                               0.009156
RN                                  0.007585
Owner                               0.007260
                                      ...
License Consultant                  0.000027
Systems Administrator Supervisor    0.000027
At. Acct.                           0.000027
Senior Sales Engineer               0.000027
ParaEducator                        0.000027
Name: Designation, Length: 19510, dtype: float64

In [112]:
df['Postal Code'] = df['Postal Code'].astype(str)
df['Postal Code'].value_counts(normalize=True)

nan        0.016293
75000.0    0.011253
94500.0    0.010480
11200.0    0.009867
60600.0    0.009413
             ...
58400.0    0.000027
9000.0     0.000027
51300.0    0.000027
5200.0     0.000027
20400.0    0.000027
Name: Postal Code, Length: 850, dtype: float64

In [113]:
df['Deprecatory Records'] = df['Deprecatory Records'].astype(str)
df['Deprecatory Records'].value_counts(normalize=True)

0     0.841707
1     0.132853
2     0.016933
3     0.004880
4     0.001840
5     0.000853
6     0.000480
7     0.000187
8     0.000080
9     0.000053
21    0.000027
11    0.000027
12    0.000027
13    0.000027
10    0.000027
Name: Deprecatory Records, dtype: float64

In [114]:
for i in range(df.shape[0]):
    if (df.loc[i,'Deprecatory Records'] != '0') and (df.loc[i,'Deprecatory Records'] != '1'):
        df.loc[i,'Deprecatory Records'] = '2'

In [115]:
df['Inquiries'] = df['Inquiries'].astype(str)
df['Inquiries'].value_counts(normalize=True)

0    0.566640
1    0.271920
2    0.103067
3    0.041040
4    0.012213
5    0.004107
6    0.001013
Name: Inquiries, dtype: float64

In [116]:
for i in range(df.shape[0]):
    if (df.loc[i,'Inquiries'] != '0') and (df.loc[i,'Inquiries'] != '1') and (df.loc[i,'Inquiries'] != '2'):
        df.loc[i,'Inquiries'] = '3'

In [117]:
df['Reason'].value_counts(normalize=True)

debt  consolidation    0.599013
credit  card           0.241440
home  improvement      0.057520
other                  0.045173
major  purchase        0.016187
medical                0.008907
small  business        0.008107
car                    0.008027
moving                 0.005840
vacation               0.004507
house                  0.003627
wedding                0.001120
renewable  energy      0.000533
Name: Reason, dtype: float64

In [118]:
for i in range(df.shape[0]):
    if (df.loc[i,'Inquiries'] != 'debt  consolidation') and (df.loc[i,'Inquiries'] != 'credit  card') and (df.loc[i,'Inquiries'] != 'home  improvement') and (df.loc[i,'Inquiries'] != 'other'):
        df.loc[i,'Inquiries'] = 'other-1'

In [119]:
df.drop(['Designation','Asst_Reg','Postal Code','Claim Type'],axis=1,inplace=True)

In [120]:
df.drop(['Account Open', 'State', 'Sub GGGrade'],axis=1,inplace=True)

In [121]:
df.isnull().sum()

ID                        0
GGGrade                   0
Experience                0
Validation                0
Yearly Income          2425
Home Status               0
Unpaid 2 years            0
Already Defaulted         0
Debt to Income         1511
Lend Amount               0
Deprecatory Records       0
Interest Charged          0
Usage Rate                0
Inquiries                 0
Present Balance           0
Gross Collection          0
File Status               0
Total Unpaid CL        1814
Duration                  0
Unpaid Amount          2069
Reason                    0
Due Fee                   0
dtype: int64

In [122]:
#df['Postal Code'] = df['Postal Code'].astype("object")

In [123]:
df['Yearly Income'].fillna(df['Yearly Income'].mean(),inplace=True)
df['Debt to Income'].fillna(df['Debt to Income'].mean(),inplace=True)
df['Total Unpaid CL'].fillna(df['Total Unpaid CL'].mean(),inplace=True)
df['Unpaid Amount'].fillna(df['Unpaid Amount'].mean(),inplace=True)

#df['Postal Code'].fillna(df['Postal Code'].value_counts().index[0],inplace=True)
#df['Designation'].fillna(df['Designation'].value_counts().index[0],inplace=True)

In [124]:
df.isnull().sum()

ID                     0
GGGrade                0
Experience             0
Validation             0
Yearly Income          0
Home Status            0
Unpaid 2 years         0
Already Defaulted      0
Debt to Income         0
Lend Amount            0
Deprecatory Records    0
Interest Charged       0
Usage Rate             0
Inquiries              0
Present Balance        0
Gross Collection       0
File Status            0
Total Unpaid CL        0
Duration               0
Unpaid Amount          0
Reason                 0
Due Fee                0
dtype: int64

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37500 entries, 0 to 37499
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   37500 non-null  int64
 1   GGGrade              37500 non-null  object
 2   Experience           37500 non-null  object
 3   Validation           37500 non-null  object
 4   Yearly Income        37500 non-null  float64
 5   Home Status          37500 non-null  object
 6   Unpaid 2 years       37500 non-null  object
 7   Already Defaulted    37500 non-null  object
 8   Debt to Income       37500 non-null  float64
 9   Lend Amount          37500 non-null  float64
 10  Deprecatory Records  37500 non-null  object
 11  Interest Charged     37500 non-null  float64
 12  Usage Rate           37500 non-null  float64
 13  Inquiries            37500 non-null  object
 14  Present Balance      37500 non-null  float64
 15  Gross Collection     37500 non-null  float64
 16  File Status          37500 non-null  object
 17  Total Unpaid CL      37500 non-null  float64
 18  Duration             37500 non-null  object
 19  Unpaid Amount        37500 non-null  float64
 20  Reason               37500 non-null  object
 21  Due Fee              37500 non-null  float64
dtypes: float64(10), int64(1), object(11)
memory usage: 6.3+ MB

In [126]:
df

,ID,GGGrade,Experience,Validation,Yearly Income,Home Status,Unpaid 2 years,Already Defaulted,Debt to Income,Lend Amount,...,Usage Rate,Inquiries,Present Balance,Gross Collection,File Status,Total Unpaid CL,Duration,Unpaid Amount,Reason,Due Fee
0,198980,II,1-3,Vfied,140800.00,OWN,0,0,16.9176,17955.00,...,78.432,other-1,59769.30,0.0,fully paid,33532.0,3 years,15755.940000,major purchase,0.0
1,167688,II,>10yrs,Vfied,146080.00,MOR??AGE,0,0,28.6944,59850.00,...,76.368,other-1,532962.13,0.0,whole,149234.0,5 years,68237.550000,debt consolidation,0.0
2,198768,V,>10yrs,Vfied,202222.24,MOR??AGE,0,0,51.1560,59850.00,...,157.552,other-1,288816.48,0.0,whole,70218.0,5 years,66272.760000,debt consolidation,0.0
3,192564,II,>10yrs,Vfied,105600.00,MOR??AGE,1,0,27.0144,19323.00,...,32.852,other-1,424664.30,0.0,fully paid,79182.0,3 years,15595.200000,credit card,0.0
4,151199,III,4-9,Not Vfied,151360.00,MOR??AGE,0,0,10.3824,25350.75,...,108.532,other-1,251704.07,0.0,fully paid,13612.0,3 years,8850.960000,debt consolidation,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37495,191405,IV,4-9,Vfied,308000.00,MOR??AGE,1,0,29.4336,59850.00,...,52.116,other-1,848107.83,0.0,fully paid,132468.0,3 years,57683.430000,debt consolidation,0.0
37496,164868,IV,4-9,Vfied,158400.00,MOR??AGE,0,0,31.6008,28215.00,...,165.120,other-1,614710.30,0.0,fully paid,51958.0,5 years,51395.760000,credit card,0.0
37497,163156,V,>10yrs,Not Vfied,52800.00,OWN,0,0,46.9728,4916.25,...,54.868,other-1,47287.72,0.0,fully paid,8466.0,3 years,2783.880000,debt consolidation,0.0
37498,169610,V,4-9,Not Vfied,52800.00,OWN,3,0,48.0480,15390.00,...,137.772,other-1,107614.80,0.0,whole,17264.0,3 years,29280.658815,home improvement,0.0
37499,175557,II,>10yrs,Vfied,121440.00,MOR??AGE,0,0,27.2664,24624.00,...,104.060,other-1,783477.16,0.0,fully paid,47310.0,3 years,29504.340000,debt consolidation,0.0

In [127]:
df = pd.get_dummies(df,drop_first=True)

In [128]:
df['Deprecatory Records'] = 0
df['Already Defaulted'] = 0
df['Unpaid 2 years'] = 0

In [129]:

df_temp=df.drop(['ID', 'Unpaid 2 years_0', 'Unpaid 2 years_1', 'Unpaid 2 years_2', 'Already Defaulted_1',
                 'Deprecatory Records_1', 'Deprecatory Records_2'],axis=1)
scaled = scaler.transform(df_temp)
df_temp=pd.DataFrame(scaled,columns=df_temp.columns,index=df_temp.index)
df_temp['ID'] = df['ID'].copy()
df=df_temp.copy()

C:\Users\cools\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [130]:
df['Loan/No Loan'] = model.predict(df.drop('ID',axis=1))
df

C:\Users\cools\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

,Yearly Income,Debt to Income,Lend Amount,Interest Charged,Usage Rate,Present Balance,Gross Collection,Total Unpaid CL,Unpaid Amount,Due Fee,...,Reason_other,Reason_renewable energy,Reason_small business,Reason_vacation,Reason_wedding,Deprecatory Records,Already Defaulted,Unpaid 2 years,ID,Loan/No Loan
0,0.062122,24.409083,246956.175425,-1.599188,-1.790394,1.328635e+05,-3.369733,824.496832,-0.865042,-0.100689,...,-0.132604,-0.097323,-0.076038,-0.21231,-0.020844,-0.093044,-0.06978,-0.035317,198980,0
1,0.117338,41.708650,823187.421970,-1.510758,-1.790537,1.184746e+06,-3.369733,3677.546104,-0.659276,-0.100689,...,-0.132604,-0.097323,-0.076038,-0.21231,-0.020844,-0.093044,-0.06978,-0.035317,167688,0
2,0.704453,74.703689,823187.421970,-0.843906,-1.784912,6.420231e+05,-3.369733,1729.122211,-0.666980,-0.100689,...,-0.132604,-0.097323,-0.076038,-0.21231,-0.020844,-0.093044,-0.06978,-0.035317,198768,0
3,-0.305986,39.240809,265771.889598,-1.603537,-1.793552,9.440055e+05,-3.369733,1950.161896,-0.865672,-0.100689,...,-0.132604,-0.097323,-0.076038,-0.21231,-0.020844,-0.093044,-0.06978,-0.035317,192564,0
4,0.172555,14.809180,348678.630173,-1.262863,-1.788308,5.595242e+05,-3.369733,333.297531,-0.892114,-0.100689,...,-0.132604,-0.097323,-0.076038,-0.21231,-0.020844,-0.093044,-0.06978,-0.035317,151199,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37495,1.810636,42.794500,823187.421970,-0.854778,-1.792217,1.885298e+06,-3.369733,3264.120026,-0.700656,-0.100689,...,-0.132604,-0.097323,-0.076038,-0.21231,-0.020844,-0.093044,-0.06978,-0.035317,191405,0
37496,0.246176,45.978016,388074.031722,-0.864201,-1.784388,1.366468e+06,-3.369733,1278.856185,-0.725308,-0.100689,...,-0.132604,-0.097323,-0.076038,-0.21231,-0.020844,-0.093044,-0.06978,-0.035317,164868,0
37497,-0.858148,68.558764,67618.899715,-0.888846,-1.792026,1.051177e+05,-3.369733,206.404379,-0.915902,-0.100689,...,-0.132604,-0.097323,-0.076038,-0.21231,-0.020844,-0.093044,-0.06978,-0.035317,163156,0
37498,-0.858148,70.138182,211676.711351,-1.483939,-1.786283,2.392215e+05,-3.369733,423.350737,-0.812015,-0.100689,...,-0.132604,-0.097323,-0.076038,-0.21231,-0.020844,-0.093044,-0.06978,-0.035317,169610,0
37499,-0.140337,39.610985,338682.782018,-1.532503,-1.788618,1.741627e+06,-3.369733,1164.243015,-0.811138,-0.100689,...,-0.132604,-0.097323,-0.076038,-0.21231,-0.020844,-0.093044,-0.06978,-0.035317,175557,0

In [131]:
df2=df[['ID','Loan/No Loan']]
df2['ID'] = df2['ID'].astype('int64')
df2['Loan/No Loan'] = df2['Loan/No Loan'].astype('int64')
df2

C:\Users\cools\AppData\Local\Temp/ipykernel_7248/3842719934.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['ID'] = df2['ID'].astype('int64')
C:\Users\cools\AppData\Local\Temp/ipykernel_7248/3842719934.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Loan/No Loan'] = df2['Loan/No Loan'].astype('int64')

           ID  Loan/No Loan
0      198980             0
1      167688             0
2      198768             0
3      192564             0
4      151199             0
...       ...           ...
37495  191405             0
37496  164868             0
37497  163156             0
37498  169610             0
37499  175557             0

[37500 rows x 2 columns]

In [132]:
df = pd.read_csv('Data_Test.csv')
df

,ID,Asst_Reg,GGGrade,Experience,Validation,Yearly Income,Home Status,Unpaid 2 years,Already Defaulted,Designation,...,Sub GGGrade,File Status,State,Account Open,Total Unpaid CL,Duration,Unpaid Amount,Reason,Claim Type,Due Fee
0,198980,1773284,II,2yrs,Source Verified,140800.00,OWN,0,0,processor,...,17,fully paid,California,23,33532.0,3 years,15755.94,major purchase,I,0.0
1,167688,5298273,II,>10yrs,Vfied,146080.00,MOR??AGE,0,0,Speech Language Pathologist,...,19,whole,Florida,17,149234.0,5 years,68237.55,debt consolidation,I,0.0
2,198768,189781,VI,>10yrs,Vfied,202222.24,MOR??AGE,0,0,Raytheon,...,37,whole,NM,15,70218.0,5 years,66272.76,debt consolidation,I,0.0
3,192564,1530906,II,>10yrs,Vfied,105600.00,MOR??AGE,1,0,Computer/Network Technician,...,19,fully paid,DE,18,79182.0,3 years,15595.20,credit card,I,0.0
4,151199,4410316,III,4yrs,Not Vfied,151360.00,MOR??AGE,0,0,NDE Tech,...,25,fully paid,Florida,7,13612.0,3 years,8850.96,debt consolidation,I,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37495,191405,5774816,IV,4yrs,Vfied,308000.00,MOR??AGE,1,0,Regional Manager,...,29,fully paid,California,19,132468.0,3 years,57683.43,debt consolidation,I,0.0
37496,164868,1423834,IV,8yrs,Source Verified,158400.00,MOR??AGE,0,0,Clinical Coordinator,...,28,fully paid,PA,14,51958.0,5 years,51395.76,credit card,I,0.0
37497,163156,1895531,V,>10yrs,Not Vfied,52800.00,OWN,0,0,administrative,...,33,fully paid,California,9,8466.0,3 years,2783.88,debt consolidation,I,0.0
37498,169610,2168910,VI,9yrs,Not Vfied,52800.00,OWN,5,0,ParaEducator,...,40,whole,TN,9,17264.0,3 years,NaN,home improvement,I,0.0
37499,175557,4140268,II,>10yrs,Source Verified,121440.00,MOR??AGE,0,0,School Teacher,...,19,fully paid,California,15,47310.0,3 years,29504.34,debt consolidation,I,0.0

In [133]:
df2['ID'] = df['ID']
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37500 entries, 0 to 37499
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            37500 non-null  int64
 1   Loan/No Loan  37500 non-null  int64
dtypes: int64(2)
memory usage: 586.1 KB

C:\Users\cools\AppData\Local\Temp/ipykernel_7248/2065228058.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['ID'] = df['ID']

In [134]:
df2.to_csv('file_scaled_bal1.csv',index=0)