In [67]:
import pandas as pd
import numpy as np

In [68]:
df = pd.read_csv('train_data.csv')
df

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,173555,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,...,CIB,659,EXP,55-64,to_inst,71.792763,south,direct,0,48.0
148666,173556,2019,cf,Male,nopre,type1,p1,l1,nopc,nob/c,...,CIB,569,CIB,25-34,not_inst,74.428934,south,direct,0,15.0
148667,173557,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,CIB,702,EXP,45-54,not_inst,61.332418,North,direct,0,49.0
148668,173558,2019,cf,Female,nopre,type1,p4,l1,nopc,nob/c,...,EXP,737,EXP,55-64,to_inst,70.683453,North,direct,0,29.0
148669,173559,2019,cf,Female,nopre,type1,p3,l1,nopc,nob/c,...,CIB,830,CIB,45-54,not_inst,72.849462,North,direct,0,44.0

In [69]:
df.drop(['year','ID','open_credit','construction_type','Security_Type'],axis=1,inplace=True)

In [70]:
df['rate_of_interest'].fillna(df['rate_of_interest'].mean(),inplace=True)
df['Interest_rate_spread'].fillna(df['Interest_rate_spread'].mean(),inplace=True)
df['Upfront_charges'].fillna(df['Upfront_charges'].mean(),inplace=True)
df['term'].fillna(df['term'].mean(),inplace=True)
df['property_value'].fillna(df['property_value'].mean(),inplace=True)
df['income'].fillna(df['income'].mean(),inplace=True)
df['LTV'].fillna(df['LTV'].mean(),inplace=True)
df['dtir1'].fillna(df['dtir1'].mean(),inplace=True)

df['loan_limit'].fillna(df['loan_limit'].value_counts().index[0],inplace=True)
df['approv_in_adv'].fillna(df['approv_in_adv'].value_counts().index[0],inplace=True)
df['loan_purpose'].fillna(df['loan_purpose'].value_counts().index[0],inplace=True)
df['Neg_ammortization'].fillna(df['Neg_ammortization'].value_counts().index[0],inplace=True)
df['age'].fillna(df['age'].value_counts().index[0],inplace=True)
df['submission_of_application'].fillna(df['submission_of_application'].value_counts().index[0],inplace=True)

In [71]:
X = df.drop('Status', axis=1)
X = pd.get_dummies(X,drop_first=True)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled = scaler.fit_transform(X)
X=pd.DataFrame(scaled,columns=X.columns,index=X.index)
y = df['Status']
X

,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,dtir1,...,age_35-44,age_45-54,age_55-64,age_65-74,age_<25,age_>74,submission_of_application_to_inst,Region_North-East,Region_central,Region_south
0,-1.166980,-1.922896e-12,4.237894e-15,-3.626057e-14,0.425737,-1.113507,-0.829008,0.502357,6.858451e-01,7.529012e-01,...,-0.532236,-0.554066,-0.52928,-0.402686,-0.095261,-0.225185,0.740554,-0.091524,-0.249266,1.149951
1,-0.677607,-1.922896e-12,4.237894e-15,-3.626057e-14,0.425737,0.000000,-0.314189,-1.275413,-7.990009e-14,-7.361545e-16,...,-0.532236,-0.554066,1.88936,-0.402686,-0.095261,-0.225185,0.740554,-0.091524,-0.249266,-0.869602
2,0.409890,1.054866e+00,-5.426102e-01,-9.446405e-01,0.425737,0.029623,0.400838,1.158234,1.919883e-01,8.565058e-01,...,1.878866,-0.554066,-0.52928,-0.402686,-0.095261,-0.225185,0.740554,-0.091524,-0.249266,1.149951
3,0.681764,4.193110e-01,5.374204e-01,-3.626057e-14,0.425737,0.469289,0.782185,-0.973365,-8.894476e-02,4.420876e-01,...,-0.532236,1.804839,-0.52928,-0.402686,-0.095261,-0.225185,-1.350341,-0.091524,-0.249266,-0.869602
4,1.986759,-9.323350e-02,-3.086410e-01,-1.158352e+00,0.425737,0.762399,0.553377,-0.843916,5.052326e-01,1.312740e-01,...,-0.532236,-0.554066,-0.52928,-0.402686,-0.095261,-0.225185,-1.350341,-0.091524,-0.249266,-0.869602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,0.573014,-1.887139e+00,-4.143986e-01,2.419075e+00,-2.656410,0.322734,0.143428,-0.352008,-2.517425e-02,1.063715e+00,...,-0.532236,-0.554066,1.88936,-0.402686,-0.095261,-0.225185,0.740554,-0.091524,-0.249266,1.149951
148666,1.388636,2.346478e+00,9.267703e-01,-1.158352e+00,0.425737,0.850332,0.029024,-1.128704,4.441161e-02,-2.355235e+00,...,-0.532236,-0.554066,-0.52928,-0.402686,-0.095261,-0.225185,-1.350341,-0.091524,-0.249266,1.149951
148667,0.627389,-1.887139e+00,-8.084638e-01,-7.177684e-01,-2.656410,0.674466,-0.009111,0.019080,-3.012915e-01,1.167319e+00,...,-0.532236,1.804839,-0.52928,-0.402686,-0.095261,-0.225185,-1.350341,-0.091524,-0.249266,-0.869602
148668,-0.731981,-1.118323e+00,3.160253e-01,3.944989e-01,-2.656410,-0.644530,0.029024,0.321128,-5.445623e-02,-9.047715e-01,...,-0.532236,-0.554066,1.88936,-0.402686,-0.095261,-0.225185,0.740554,-0.091524,-0.249266,-0.869602
148669,0.409890,6.755833e-01,2.122887e+00,9.967243e-01,-1.629028,0.176178,0.048091,1.123714,2.718980e-03,6.492967e-01,...,-0.532236,1.804839,-0.52928,-0.402686,-0.095261,-0.225185,-1.350341,-0.091524,-0.249266,-0.869602

In [72]:
from sklearn import svm
clf = svm.SVC(class_weight='balanced',C=0.7,max_iter=1000,kernel='poly',degree=2,gamma=10)
model=clf.fit(X,y)

C:\Users\Jitu\anaconda3\lib\site-packages\sklearn\svm\_base.py:284: ConvergenceWarning: Solver terminated early (max_iter=1000).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  warnings.warn(

In [73]:
df = pd.read_csv('test_data.csv')
df

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,income,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,dtir1
0,173560,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,9480.0,EXP,502,CIB,55-64,not_inst,86.525974,North,direct,18.0
1,173561,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,...,1620.0,EXP,526,CIB,55-64,to_inst,61.968085,south,direct,38.0
2,173562,2019,cf,Joint,nopre,type2,p1,l1,nopc,b/c,...,3240.0,CRIF,827,EXP,<25,to_inst,94.471154,North,direct,59.0
3,173563,2019,cf,Male,nopre,type1,p1,l1,nopc,nob/c,...,2100.0,EXP,591,CIB,55-64,to_inst,91.015625,North,direct,42.0
4,173564,2019,cf,Joint,nopre,type2,p3,l1,nopc,b/c,...,6180.0,EXP,598,EXP,35-44,to_inst,96.383648,North,direct,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63712,237272,2019,cf,Male,nopre,type1,p3,l1,nopc,nob/c,...,7920.0,CRIF,597,EXP,65-74,to_inst,30.457227,North,direct,48.0
63713,237273,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,5760.0,CIB,632,CIB,45-54,not_inst,73.867314,North,direct,39.0
63714,237274,2019,cf,Joint,nopre,type1,p4,l1,nopc,nob/c,...,11580.0,EXP,605,EXP,35-44,not_inst,64.274691,North,direct,36.0
63715,237275,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,6540.0,CIB,545,CIB,35-44,not_inst,75.082237,south,direct,31.0
63716,237276,2019,cf,Female,nopre,type2,p3,l1,nopc,b/c,...,5940.0,CIB,760,EXP,55-64,to_inst,72.249191,south,direct,57.0

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63717 entries, 0 to 63716
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         63717 non-null  int64
 1   year                       63717 non-null  int64
 2   loan_limit                 62293 non-null  object
 3   Gender                     63717 non-null  object
 4   approv_in_adv              63301 non-null  object
 5   loan_type                  63717 non-null  object
 6   loan_purpose               63659 non-null  object
 7   Credit_Worthiness          63717 non-null  object
 8   open_credit                63717 non-null  object
 9   business_or_commercial     63717 non-null  object
 10  loan_amount                63717 non-null  int64
 11  rate_of_interest           48144 non-null  float64
 12  Interest_rate_spread       48055 non-null  float64
 13  Upfront_charges            46750 non-null  float64
 14  term                       63703 non-null  float64
 15  Neg_ammortization          63679 non-null  object
 16  interest_only              63717 non-null  object
 17  lump_sum_payment           63717 non-null  object
 18  property_value             57393 non-null  float64
 19  construction_type          63717 non-null  object
 20  occupancy_type             63717 non-null  object
 21  Secured_by                 63717 non-null  object
 22  total_units                63717 non-null  object
 23  income                     59828 non-null  float64
 24  credit_type                63717 non-null  object
 25  Credit_Score               63717 non-null  int64
 26  co-applicant_credit_type   63717 non-null  object
 27  age                        63628 non-null  object
 28  submission_of_application  63628 non-null  object
 29  LTV                        57393 non-null  float64
 30  Region                     63717 non-null  object
 31  Security_Type              63717 non-null  object
 32  dtir1                      53564 non-null  float64
dtypes: float64(8), int64(4), object(21)
memory usage: 16.0+ MB

In [75]:
df.isnull().sum()

ID                               0
year                             0
loan_limit                    1424
Gender                           0
approv_in_adv                  416
loan_type                        0
loan_purpose                    58
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             15573
Interest_rate_spread         15662
Upfront_charges              16967
term                            14
Neg_ammortization               38
interest_only                    0
lump_sum_payment                 0
property_value                6324
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        3889
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                             89
submission_of_application       89
LTV                           6324
Region                           0
Security_Type                    0
dtir1                        10153
dtype: int64

In [76]:
df['rate_of_interest'].fillna(df['rate_of_interest'].mean(),inplace=True)
df['Interest_rate_spread'].fillna(df['Interest_rate_spread'].mean(),inplace=True)
df['Upfront_charges'].fillna(df['Upfront_charges'].mean(),inplace=True)
df['term'].fillna(df['term'].mean(),inplace=True)
df['property_value'].fillna(df['property_value'].mean(),inplace=True)
df['income'].fillna(df['income'].mean(),inplace=True)
df['LTV'].fillna(df['LTV'].mean(),inplace=True)
df['dtir1'].fillna(df['dtir1'].mean(),inplace=True)

df['loan_limit'].fillna(df['loan_limit'].value_counts().index[0],inplace=True)
df['approv_in_adv'].fillna(df['approv_in_adv'].value_counts().index[0],inplace=True)
df['loan_purpose'].fillna(df['loan_purpose'].value_counts().index[0],inplace=True)
df['Neg_ammortization'].fillna(df['Neg_ammortization'].value_counts().index[0],inplace=True)
df['age'].fillna(df['age'].value_counts().index[0],inplace=True)
df['submission_of_application'].fillna(df['submission_of_application'].value_counts().index[0],inplace=True)

In [77]:
df.isnull().sum()

ID                           0
year                         0
loan_limit                   0
Gender                       0
approv_in_adv                0
loan_type                    0
loan_purpose                 0
Credit_Worthiness            0
open_credit                  0
business_or_commercial       0
loan_amount                  0
rate_of_interest             0
Interest_rate_spread         0
Upfront_charges              0
term                         0
Neg_ammortization            0
interest_only                0
lump_sum_payment             0
property_value               0
construction_type            0
occupancy_type               0
Secured_by                   0
total_units                  0
income                       0
credit_type                  0
Credit_Score                 0
co-applicant_credit_type     0
age                          0
submission_of_application    0
LTV                          0
Region                       0
Security_Type                0
dtir1                        0
dtype: int64

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63717 entries, 0 to 63716
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         63717 non-null  int64
 1   year                       63717 non-null  int64
 2   loan_limit                 63717 non-null  object
 3   Gender                     63717 non-null  object
 4   approv_in_adv              63717 non-null  object
 5   loan_type                  63717 non-null  object
 6   loan_purpose               63717 non-null  object
 7   Credit_Worthiness          63717 non-null  object
 8   open_credit                63717 non-null  object
 9   business_or_commercial     63717 non-null  object
 10  loan_amount                63717 non-null  int64
 11  rate_of_interest           63717 non-null  float64
 12  Interest_rate_spread       63717 non-null  float64
 13  Upfront_charges            63717 non-null  float64
 14  term                       63717 non-null  float64
 15  Neg_ammortization          63717 non-null  object
 16  interest_only              63717 non-null  object
 17  lump_sum_payment           63717 non-null  object
 18  property_value             63717 non-null  float64
 19  construction_type          63717 non-null  object
 20  occupancy_type             63717 non-null  object
 21  Secured_by                 63717 non-null  object
 22  total_units                63717 non-null  object
 23  income                     63717 non-null  float64
 24  credit_type                63717 non-null  object
 25  Credit_Score               63717 non-null  int64
 26  co-applicant_credit_type   63717 non-null  object
 27  age                        63717 non-null  object
 28  submission_of_application  63717 non-null  object
 29  LTV                        63717 non-null  float64
 30  Region                     63717 non-null  object
 31  Security_Type              63717 non-null  object
 32  dtir1                      63717 non-null  float64
dtypes: float64(8), int64(4), object(21)
memory usage: 16.0+ MB

In [79]:
df.drop(['year','open_credit','construction_type','Security_Type'],axis=1,inplace=True)
df = pd.get_dummies(df,drop_first=True)
scaled = scaler.fit_transform(df)
df=pd.DataFrame(scaled,columns=df.columns,index=df.index)
df

,ID,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,...,age_35-44,age_45-54,age_55-64,age_65-74,age_<25,age_>74,submission_of_application_to_inst,Region_North-East,Region_central,Region_south
0,-1.732024,-0.351832,1.666341e-01,3.289695e-01,-6.882830e-01,-1.631692,-0.549264,0.461607,-1.711335,0.270981,...,-0.532257,-0.553775,1.897850,-0.405906,-0.096345,-0.223137,-1.346288,-0.092279,-0.246435,-0.869129
1,-1.731969,-1.158243,1.941540e+00,5.794118e-01,-4.753375e-01,0.423045,-0.890519,-0.950491,-1.504588,-0.217362,...,-0.532257,-0.553775,1.897850,-0.405906,-0.096345,-0.223137,0.742783,-0.092279,-0.246435,1.150577
2,-1.731915,-0.728157,-5.011783e-13,3.858304e-15,-1.619338e-14,0.423045,-0.833644,-0.659448,1.088358,0.428974,...,-0.532257,-0.553775,-0.526912,-0.405906,10.379407,-0.223137,0.742783,-0.092279,-0.246435,-0.869129
3,-1.731861,-1.158243,1.449081e+00,1.812153e-01,-6.737230e-01,0.423045,-1.061147,-0.864256,-0.944650,0.360259,...,-0.532257,-0.553775,1.897850,-0.405906,-0.096345,-0.223137,0.742783,-0.092279,-0.246435,-0.869129
4,-1.731806,-0.136789,-5.011783e-13,3.858304e-15,-1.619338e-14,0.423045,-0.520827,-0.131259,-0.884348,0.467004,...,1.878792,-0.553775,-0.526912,-0.405906,-0.096345,-0.223137,0.742783,-0.092279,-0.246435,-0.869129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63712,1.731806,-0.674397,1.941540e+00,3.256425e-02,-6.479351e-01,0.423045,0.502938,0.181343,-0.892963,-0.843967,...,-0.532257,-0.553775,-0.526912,2.463626,-0.096345,-0.223137,0.742783,-0.092279,-0.246435,-0.869129
63713,1.731861,0.669622,-1.103744e-01,-8.402482e-02,-1.156644e+00,0.423045,0.332311,-0.206714,-0.591458,0.019259,...,-0.532257,1.805787,-0.526912,-0.405906,-0.096345,-0.223137,-1.346288,-0.092279,-0.246435,-0.869129
63714,1.731915,0.454579,-1.628791e+00,-7.118121e-01,-1.156644e+00,-2.659061,0.417625,0.838885,-0.824047,-0.171494,...,1.878792,-0.553775,-0.526912,-0.405906,-0.096345,-0.223137,-1.346288,-0.092279,-0.246435,-0.869129
63715,1.731969,0.669622,1.705570e+00,1.280067e+00,-1.156644e+00,0.423045,0.303873,-0.066582,-1.340914,0.043418,...,1.878792,-0.553775,-0.526912,-0.405906,-0.096345,-0.223137,-1.346288,-0.092279,-0.246435,1.150577
63716,1.732024,0.615861,1.192591e+00,2.649540e+00,-1.156644e+00,-0.604323,0.332311,-0.174376,0.511191,-0.012918,...,-0.532257,-0.553775,1.897850,-0.405906,-0.096345,-0.223137,0.742783,-0.092279,-0.246435,1.150577

In [80]:
df['Status'] = model.predict(df.drop('ID',axis=1))
df

,ID,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,...,age_45-54,age_55-64,age_65-74,age_<25,age_>74,submission_of_application_to_inst,Region_North-East,Region_central,Region_south,Status
0,-1.732024,-0.351832,1.666341e-01,3.289695e-01,-6.882830e-01,-1.631692,-0.549264,0.461607,-1.711335,0.270981,...,-0.553775,1.897850,-0.405906,-0.096345,-0.223137,-1.346288,-0.092279,-0.246435,-0.869129,0
1,-1.731969,-1.158243,1.941540e+00,5.794118e-01,-4.753375e-01,0.423045,-0.890519,-0.950491,-1.504588,-0.217362,...,-0.553775,1.897850,-0.405906,-0.096345,-0.223137,0.742783,-0.092279,-0.246435,1.150577,0
2,-1.731915,-0.728157,-5.011783e-13,3.858304e-15,-1.619338e-14,0.423045,-0.833644,-0.659448,1.088358,0.428974,...,-0.553775,-0.526912,-0.405906,10.379407,-0.223137,0.742783,-0.092279,-0.246435,-0.869129,0
3,-1.731861,-1.158243,1.449081e+00,1.812153e-01,-6.737230e-01,0.423045,-1.061147,-0.864256,-0.944650,0.360259,...,-0.553775,1.897850,-0.405906,-0.096345,-0.223137,0.742783,-0.092279,-0.246435,-0.869129,0
4,-1.731806,-0.136789,-5.011783e-13,3.858304e-15,-1.619338e-14,0.423045,-0.520827,-0.131259,-0.884348,0.467004,...,-0.553775,-0.526912,-0.405906,-0.096345,-0.223137,0.742783,-0.092279,-0.246435,-0.869129,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63712,1.731806,-0.674397,1.941540e+00,3.256425e-02,-6.479351e-01,0.423045,0.502938,0.181343,-0.892963,-0.843967,...,-0.553775,-0.526912,2.463626,-0.096345,-0.223137,0.742783,-0.092279,-0.246435,-0.869129,0
63713,1.731861,0.669622,-1.103744e-01,-8.402482e-02,-1.156644e+00,0.423045,0.332311,-0.206714,-0.591458,0.019259,...,1.805787,-0.526912,-0.405906,-0.096345,-0.223137,-1.346288,-0.092279,-0.246435,-0.869129,0
63714,1.731915,0.454579,-1.628791e+00,-7.118121e-01,-1.156644e+00,-2.659061,0.417625,0.838885,-0.824047,-0.171494,...,-0.553775,-0.526912,-0.405906,-0.096345,-0.223137,-1.346288,-0.092279,-0.246435,-0.869129,0
63715,1.731969,0.669622,1.705570e+00,1.280067e+00,-1.156644e+00,0.423045,0.303873,-0.066582,-1.340914,0.043418,...,-0.553775,-0.526912,-0.405906,-0.096345,-0.223137,-1.346288,-0.092279,-0.246435,1.150577,0
63716,1.732024,0.615861,1.192591e+00,2.649540e+00,-1.156644e+00,-0.604323,0.332311,-0.174376,0.511191,-0.012918,...,-0.553775,1.897850,-0.405906,-0.096345,-0.223137,0.742783,-0.092279,-0.246435,1.150577,0

In [81]:
df2=df[['ID','Status']]
df2['ID'] = df2['ID'].astype('int64')
df2['Status'] = df2['Status'].astype('int64')
df2

<ipython-input-81-8b197cd2961a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['ID'] = df2['ID'].astype('int64')
<ipython-input-81-8b197cd2961a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Status'] = df2['Status'].astype('int64')

       ID  Status
0      -1       0
1      -1       0
2      -1       0
3      -1       0
4      -1       0
...    ..     ...
63712   1       0
63713   1       0
63714   1       0
63715   1       0
63716   1       0

[63717 rows x 2 columns]

In [82]:
df = pd.read_csv('test_data.csv')
df

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,income,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,dtir1
0,173560,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,9480.0,EXP,502,CIB,55-64,not_inst,86.525974,North,direct,18.0
1,173561,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,...,1620.0,EXP,526,CIB,55-64,to_inst,61.968085,south,direct,38.0
2,173562,2019,cf,Joint,nopre,type2,p1,l1,nopc,b/c,...,3240.0,CRIF,827,EXP,<25,to_inst,94.471154,North,direct,59.0
3,173563,2019,cf,Male,nopre,type1,p1,l1,nopc,nob/c,...,2100.0,EXP,591,CIB,55-64,to_inst,91.015625,North,direct,42.0
4,173564,2019,cf,Joint,nopre,type2,p3,l1,nopc,b/c,...,6180.0,EXP,598,EXP,35-44,to_inst,96.383648,North,direct,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63712,237272,2019,cf,Male,nopre,type1,p3,l1,nopc,nob/c,...,7920.0,CRIF,597,EXP,65-74,to_inst,30.457227,North,direct,48.0
63713,237273,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,5760.0,CIB,632,CIB,45-54,not_inst,73.867314,North,direct,39.0
63714,237274,2019,cf,Joint,nopre,type1,p4,l1,nopc,nob/c,...,11580.0,EXP,605,EXP,35-44,not_inst,64.274691,North,direct,36.0
63715,237275,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,6540.0,CIB,545,CIB,35-44,not_inst,75.082237,south,direct,31.0
63716,237276,2019,cf,Female,nopre,type2,p3,l1,nopc,b/c,...,5940.0,CIB,760,EXP,55-64,to_inst,72.249191,south,direct,57.0

In [83]:
df2['ID'] = df['ID']
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63717 entries, 0 to 63716
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      63717 non-null  int64
 1   Status  63717 non-null  int64
dtypes: int64(2)
memory usage: 995.7 KB

<ipython-input-83-d0bfcf480b0c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['ID'] = df['ID']

In [84]:
df2.to_csv('file7.csv',index=0)