In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train_data.csv')
df

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,173555,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,...,CIB,659,EXP,55-64,to_inst,71.792763,south,direct,0,48.0
148666,173556,2019,cf,Male,nopre,type1,p1,l1,nopc,nob/c,...,CIB,569,CIB,25-34,not_inst,74.428934,south,direct,0,15.0
148667,173557,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,CIB,702,EXP,45-54,not_inst,61.332418,North,direct,0,49.0
148668,173558,2019,cf,Female,nopre,type1,p4,l1,nopc,nob/c,...,EXP,737,EXP,55-64,to_inst,70.683453,North,direct,0,29.0
148669,173559,2019,cf,Female,nopre,type1,p3,l1,nopc,nob/c,...,CIB,830,CIB,45-54,not_inst,72.849462,North,direct,0,44.0

In [3]:
df.drop(['year','ID','open_credit','construction_type','Security_Type'],axis=1,inplace=True)

In [4]:
df['rate_of_interest'].fillna(df['rate_of_interest'].mean(),inplace=True)
df['Interest_rate_spread'].fillna(df['Interest_rate_spread'].mean(),inplace=True)
df['Upfront_charges'].fillna(df['Upfront_charges'].mean(),inplace=True)
df['term'].fillna(df['term'].mean(),inplace=True)
df['property_value'].fillna(df['property_value'].mean(),inplace=True)
df['income'].fillna(df['income'].mean(),inplace=True)
df['LTV'].fillna(df['LTV'].mean(),inplace=True)
df['dtir1'].fillna(df['dtir1'].mean(),inplace=True)

df['loan_limit'].fillna(df['loan_limit'].value_counts().index[0],inplace=True)
df['approv_in_adv'].fillna(df['approv_in_adv'].value_counts().index[0],inplace=True)
df['loan_purpose'].fillna(df['loan_purpose'].value_counts().index[0],inplace=True)
df['Neg_ammortization'].fillna(df['Neg_ammortization'].value_counts().index[0],inplace=True)
df['age'].fillna(df['age'].value_counts().index[0],inplace=True)
df['submission_of_application'].fillna(df['submission_of_application'].value_counts().index[0],inplace=True)

In [5]:
X = df.drop('Status', axis=1)
X = pd.get_dummies(X,drop_first=True)
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled = scaler.fit_transform(X)
X=pd.DataFrame(scaled,columns=X.columns,index=X.index)
y = df['Status']
X

,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,dtir1,...,age_35-44,age_45-54,age_55-64,age_65-74,age_<25,age_>74,submission_of_application_to_inst,Region_North-East,Region_central,Region_south
0,0.028090,0.505684,0.583225,0.053750,1.000000,0.006667,0.003007,0.6450,0.012485,0.714286,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.053371,0.505684,0.583225,0.053750,1.000000,0.029691,0.008607,0.1300,0.009167,0.584517,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.109551,0.570000,0.548678,0.009917,1.000000,0.030303,0.016385,0.8350,0.010096,0.732143,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.123596,0.531250,0.617441,0.053750,1.000000,0.039394,0.020533,0.2175,0.008737,0.660714,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.191011,0.500000,0.563574,0.000000,1.000000,0.045455,0.018044,0.2550,0.011611,0.607143,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,0.117978,0.390625,0.556841,0.166000,0.318182,0.036364,0.013585,0.3975,0.009045,0.767857,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
148666,0.160112,0.648750,0.642230,0.000000,1.000000,0.047273,0.012341,0.1725,0.009382,0.178571,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
148667,0.120787,0.390625,0.531751,0.020444,0.318182,0.043636,0.011926,0.5050,0.007709,0.785714,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148668,0.050562,0.437500,0.603345,0.072056,0.318182,0.016364,0.012341,0.5925,0.008903,0.428571,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
148669,0.109551,0.546875,0.718385,0.100000,0.545455,0.033333,0.012548,0.8250,0.009180,0.696429,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
 from sklearn import svm
clf = svm.SVC()
model=clf.fit(X,y)

In [7]:
df = pd.read_csv('test_data.csv')
df

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,income,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,dtir1
0,173560,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,9480.0,EXP,502,CIB,55-64,not_inst,86.525974,North,direct,18.0
1,173561,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,...,1620.0,EXP,526,CIB,55-64,to_inst,61.968085,south,direct,38.0
2,173562,2019,cf,Joint,nopre,type2,p1,l1,nopc,b/c,...,3240.0,CRIF,827,EXP,<25,to_inst,94.471154,North,direct,59.0
3,173563,2019,cf,Male,nopre,type1,p1,l1,nopc,nob/c,...,2100.0,EXP,591,CIB,55-64,to_inst,91.015625,North,direct,42.0
4,173564,2019,cf,Joint,nopre,type2,p3,l1,nopc,b/c,...,6180.0,EXP,598,EXP,35-44,to_inst,96.383648,North,direct,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63712,237272,2019,cf,Male,nopre,type1,p3,l1,nopc,nob/c,...,7920.0,CRIF,597,EXP,65-74,to_inst,30.457227,North,direct,48.0
63713,237273,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,5760.0,CIB,632,CIB,45-54,not_inst,73.867314,North,direct,39.0
63714,237274,2019,cf,Joint,nopre,type1,p4,l1,nopc,nob/c,...,11580.0,EXP,605,EXP,35-44,not_inst,64.274691,North,direct,36.0
63715,237275,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,6540.0,CIB,545,CIB,35-44,not_inst,75.082237,south,direct,31.0
63716,237276,2019,cf,Female,nopre,type2,p3,l1,nopc,b/c,...,5940.0,CIB,760,EXP,55-64,to_inst,72.249191,south,direct,57.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63717 entries, 0 to 63716
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         63717 non-null  int64
 1   year                       63717 non-null  int64
 2   loan_limit                 62293 non-null  object
 3   Gender                     63717 non-null  object
 4   approv_in_adv              63301 non-null  object
 5   loan_type                  63717 non-null  object
 6   loan_purpose               63659 non-null  object
 7   Credit_Worthiness          63717 non-null  object
 8   open_credit                63717 non-null  object
 9   business_or_commercial     63717 non-null  object
 10  loan_amount                63717 non-null  int64
 11  rate_of_interest           48144 non-null  float64
 12  Interest_rate_spread       48055 non-null  float64
 13  Upfront_charges            46750 non-null  float64
 14  term                       63703 non-null  float64
 15  Neg_ammortization          63679 non-null  object
 16  interest_only              63717 non-null  object
 17  lump_sum_payment           63717 non-null  object
 18  property_value             57393 non-null  float64
 19  construction_type          63717 non-null  object
 20  occupancy_type             63717 non-null  object
 21  Secured_by                 63717 non-null  object
 22  total_units                63717 non-null  object
 23  income                     59828 non-null  float64
 24  credit_type                63717 non-null  object
 25  Credit_Score               63717 non-null  int64
 26  co-applicant_credit_type   63717 non-null  object
 27  age                        63628 non-null  object
 28  submission_of_application  63628 non-null  object
 29  LTV                        57393 non-null  float64
 30  Region                     63717 non-null  object
 31  Security_Type              63717 non-null  object
 32  dtir1                      53564 non-null  float64
dtypes: float64(8), int64(4), object(21)
memory usage: 16.0+ MB

In [9]:
df.isnull().sum()

ID                               0
year                             0
loan_limit                    1424
Gender                           0
approv_in_adv                  416
loan_type                        0
loan_purpose                    58
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             15573
Interest_rate_spread         15662
Upfront_charges              16967
term                            14
Neg_ammortization               38
interest_only                    0
lump_sum_payment                 0
property_value                6324
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        3889
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                             89
submission_of_application       89
LTV                           6324
Region                           0
Security_Type                    0
dtir1                        10153
dtype: int64

In [10]:
df['rate_of_interest'].fillna(df['rate_of_interest'].mean(),inplace=True)
df['Interest_rate_spread'].fillna(df['Interest_rate_spread'].mean(),inplace=True)
df['Upfront_charges'].fillna(df['Upfront_charges'].mean(),inplace=True)
df['term'].fillna(df['term'].mean(),inplace=True)
df['property_value'].fillna(df['property_value'].mean(),inplace=True)
df['income'].fillna(df['income'].mean(),inplace=True)
df['LTV'].fillna(df['LTV'].mean(),inplace=True)
df['dtir1'].fillna(df['dtir1'].mean(),inplace=True)

df['loan_limit'].fillna(df['loan_limit'].value_counts().index[0],inplace=True)
df['approv_in_adv'].fillna(df['approv_in_adv'].value_counts().index[0],inplace=True)
df['loan_purpose'].fillna(df['loan_purpose'].value_counts().index[0],inplace=True)
df['Neg_ammortization'].fillna(df['Neg_ammortization'].value_counts().index[0],inplace=True)
df['age'].fillna(df['age'].value_counts().index[0],inplace=True)
df['submission_of_application'].fillna(df['submission_of_application'].value_counts().index[0],inplace=True)

In [11]:
df.isnull().sum()

ID                           0
year                         0
loan_limit                   0
Gender                       0
approv_in_adv                0
loan_type                    0
loan_purpose                 0
Credit_Worthiness            0
open_credit                  0
business_or_commercial       0
loan_amount                  0
rate_of_interest             0
Interest_rate_spread         0
Upfront_charges              0
term                         0
Neg_ammortization            0
interest_only                0
lump_sum_payment             0
property_value               0
construction_type            0
occupancy_type               0
Secured_by                   0
total_units                  0
income                       0
credit_type                  0
Credit_Score                 0
co-applicant_credit_type     0
age                          0
submission_of_application    0
LTV                          0
Region                       0
Security_Type                0
dtir1                        0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63717 entries, 0 to 63716
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         63717 non-null  int64
 1   year                       63717 non-null  int64
 2   loan_limit                 63717 non-null  object
 3   Gender                     63717 non-null  object
 4   approv_in_adv              63717 non-null  object
 5   loan_type                  63717 non-null  object
 6   loan_purpose               63717 non-null  object
 7   Credit_Worthiness          63717 non-null  object
 8   open_credit                63717 non-null  object
 9   business_or_commercial     63717 non-null  object
 10  loan_amount                63717 non-null  int64
 11  rate_of_interest           63717 non-null  float64
 12  Interest_rate_spread       63717 non-null  float64
 13  Upfront_charges            63717 non-null  float64
 14  term                       63717 non-null  float64
 15  Neg_ammortization          63717 non-null  object
 16  interest_only              63717 non-null  object
 17  lump_sum_payment           63717 non-null  object
 18  property_value             63717 non-null  float64
 19  construction_type          63717 non-null  object
 20  occupancy_type             63717 non-null  object
 21  Secured_by                 63717 non-null  object
 22  total_units                63717 non-null  object
 23  income                     63717 non-null  float64
 24  credit_type                63717 non-null  object
 25  Credit_Score               63717 non-null  int64
 26  co-applicant_credit_type   63717 non-null  object
 27  age                        63717 non-null  object
 28  submission_of_application  63717 non-null  object
 29  LTV                        63717 non-null  float64
 30  Region                     63717 non-null  object
 31  Security_Type              63717 non-null  object
 32  dtir1                      63717 non-null  float64
dtypes: float64(8), int64(4), object(21)
memory usage: 16.0+ MB

In [13]:
df.drop(['year','open_credit','construction_type','Security_Type'],axis=1,inplace=True)
df = pd.get_dummies(df,drop_first=True)
scaled = scaler.fit_transform(df)
df=pd.DataFrame(scaled,columns=df.columns,index=df.index)
df

,ID,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,...,age_35-44,age_45-54,age_55-64,age_65-74,age_<25,age_>74,submission_of_application_to_inst,Region_North-East,Region_central,Region_south
0,0.000000,0.070423,0.523810,0.640397,0.038511,0.545455,0.021201,0.039051,0.0050,0.009811,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000016,0.028169,0.633651,0.657133,0.056021,1.000000,0.012721,0.006673,0.0650,0.006948,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.000031,0.050704,0.513497,0.618413,0.095106,1.000000,0.014134,0.013347,0.8175,0.010737,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,0.000047,0.028169,0.603175,0.630523,0.039709,1.000000,0.008481,0.008651,0.2275,0.010334,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.000063,0.081690,0.513497,0.618413,0.095106,1.000000,0.021908,0.025457,0.2450,0.010960,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63712,0.999937,0.053521,0.633651,0.620589,0.041829,1.000000,0.047350,0.032625,0.2425,0.003275,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
63713,0.999953,0.123944,0.506667,0.612798,0.000000,1.000000,0.043110,0.023727,0.3300,0.008335,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63714,0.999969,0.112676,0.412698,0.570846,0.000000,0.318182,0.045230,0.047701,0.2625,0.007217,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63715,0.999984,0.123944,0.619048,0.703954,0.000000,1.000000,0.042403,0.026940,0.1125,0.008477,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
63716,1.000000,0.121127,0.587302,0.795469,0.000000,0.772727,0.043110,0.024469,0.6500,0.008147,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [14]:
df['Status'] = model.predict(df.drop('ID',axis=1))
df

,ID,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,...,age_45-54,age_55-64,age_65-74,age_<25,age_>74,submission_of_application_to_inst,Region_North-East,Region_central,Region_south,Status
0,0.000000,0.070423,0.523810,0.640397,0.038511,0.545455,0.021201,0.039051,0.0050,0.009811,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.000016,0.028169,0.633651,0.657133,0.056021,1.000000,0.012721,0.006673,0.0650,0.006948,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0
2,0.000031,0.050704,0.513497,0.618413,0.095106,1.000000,0.014134,0.013347,0.8175,0.010737,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0
3,0.000047,0.028169,0.603175,0.630523,0.039709,1.000000,0.008481,0.008651,0.2275,0.010334,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
4,0.000063,0.081690,0.513497,0.618413,0.095106,1.000000,0.021908,0.025457,0.2450,0.010960,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63712,0.999937,0.053521,0.633651,0.620589,0.041829,1.000000,0.047350,0.032625,0.2425,0.003275,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0
63713,0.999953,0.123944,0.506667,0.612798,0.000000,1.000000,0.043110,0.023727,0.3300,0.008335,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
63714,0.999969,0.112676,0.412698,0.570846,0.000000,0.318182,0.045230,0.047701,0.2625,0.007217,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
63715,0.999984,0.123944,0.619048,0.703954,0.000000,1.000000,0.042403,0.026940,0.1125,0.008477,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
63716,1.000000,0.121127,0.587302,0.795469,0.000000,0.772727,0.043110,0.024469,0.6500,0.008147,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0

In [15]:
df2=df[['ID','Status']]
df2['ID'] = df2['ID'].astype('int64')
df2['Status'] = df2['Status'].astype('int64')
df2

<ipython-input-15-8b197cd2961a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['ID'] = df2['ID'].astype('int64')
<ipython-input-15-8b197cd2961a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Status'] = df2['Status'].astype('int64')

       ID  Status
0       0       0
1       0       0
2       0       0
3       0       0
4       0       0
...    ..     ...
63712   0       0
63713   0       0
63714   0       0
63715   0       0
63716   1       0

[63717 rows x 2 columns]

In [16]:
df = pd.read_csv('test_data.csv')
df

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,income,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,dtir1
0,173560,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,9480.0,EXP,502,CIB,55-64,not_inst,86.525974,North,direct,18.0
1,173561,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,...,1620.0,EXP,526,CIB,55-64,to_inst,61.968085,south,direct,38.0
2,173562,2019,cf,Joint,nopre,type2,p1,l1,nopc,b/c,...,3240.0,CRIF,827,EXP,<25,to_inst,94.471154,North,direct,59.0
3,173563,2019,cf,Male,nopre,type1,p1,l1,nopc,nob/c,...,2100.0,EXP,591,CIB,55-64,to_inst,91.015625,North,direct,42.0
4,173564,2019,cf,Joint,nopre,type2,p3,l1,nopc,b/c,...,6180.0,EXP,598,EXP,35-44,to_inst,96.383648,North,direct,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63712,237272,2019,cf,Male,nopre,type1,p3,l1,nopc,nob/c,...,7920.0,CRIF,597,EXP,65-74,to_inst,30.457227,North,direct,48.0
63713,237273,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,5760.0,CIB,632,CIB,45-54,not_inst,73.867314,North,direct,39.0
63714,237274,2019,cf,Joint,nopre,type1,p4,l1,nopc,nob/c,...,11580.0,EXP,605,EXP,35-44,not_inst,64.274691,North,direct,36.0
63715,237275,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,6540.0,CIB,545,CIB,35-44,not_inst,75.082237,south,direct,31.0
63716,237276,2019,cf,Female,nopre,type2,p3,l1,nopc,b/c,...,5940.0,CIB,760,EXP,55-64,to_inst,72.249191,south,direct,57.0

In [17]:
df2['ID'] = df['ID']
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63717 entries, 0 to 63716
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      63717 non-null  int64
 1   Status  63717 non-null  int64
dtypes: int64(2)
memory usage: 995.7 KB

<ipython-input-17-d0bfcf480b0c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['ID'] = df['ID']

In [18]:
df2.to_csv('file1.csv',index=0)