In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Train_Set_TVS.csv')
df

,ID,Compensation,Vehicle_Status,Loan_amt,Annuity_amt,density_Ind,Job_Type,Default_hist,Prop_List,Home_Appliances,...,Region,Age,hour_Process,Addr_permanent,Permanent_Addr_tag,c1_rated,c2_rated,Contact_age,Product_bought,Default
0,540071,801850.0,Y,658040.0,13816.52,0.0304,IT,ndf,Morethan_One,NaN,...,East,46.0,10.0,Yes,No,0.077,0.077,18.0,2.0,1.0
1,511643,884222.0,N,198075.0,11173.06,0.0194,IT,ndf,Morethan_One,1.0,...,North,46.0,12.0,Yes,Yes,0.184,0.184,306.0,4.0,0.0
2,506688,284120.0,N,101056.0,8390.40,0.0118,Govt.,ndf,One,4.0,...,North,57.0,5.0,Yes,Yes,0.538,0.538,281.0,4.0,0.0
3,499360,341874.0,N,179008.0,7184.13,0.0373,Non-IT,df,None,2.0,...,South,39.0,12.0,Yes,Yes,NaN,0.561,20.0,4.0,0.0
4,438350,1259895.0,Y,573715.0,13212.77,0.0138,Non-IT,ndf,Morethan_One,1.0,...,North,32.0,16.0,Yes,Yes,NaN,0.200,2339.0,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132435,435665,641706.0,Y,1048272.0,13181.84,0.0238,IT,ndf,One,4.0,...,North,43.0,7.0,Yes,Yes,0.886,0.886,2766.0,5.0,1.0
132436,509840,594160.0,N,640232.0,11911.93,0.0262,IT,ndf,One,4.0,...,North,60.0,9.0,Yes,Yes,NaN,0.641,2581.0,1.0,0.0
132437,504105,1471170.0,N,732914.0,11587.54,NaN,Non-IT,ndf,One,4.0,...,South,51.0,4.0,Yes,Yes,0.384,0.384,1987.0,3.0,0.0
132438,430757,613585.0,N,528490.2,13008.76,0.0056,Non-IT,ndf,One,4.0,...,Central,59.0,14.0,Yes,Yes,0.224,0.224,1608.0,2.0,1.0
132439,421054,533725.0,Y,330222.0,10250.65,NaN,Govt.,ndf,Morethan_One,1.0,...,North,34.0,13.0,Yes,Yes,0.128,0.128,11.0,2.0,1.0

In [3]:
df.drop('ID',axis=1,inplace=True)

In [4]:
df.isnull().sum()

Compensation           6242
Vehicle_Status         9104
Loan_amt                  0
Annuity_amt            4611
density_Ind            5416
Job_Type              10248
Default_hist              0
Prop_List              1965
Home_Appliances       10964
Region_Type               0
Credit_Inq             2690
Education_det             0
Marital_Stat              0
Gen                       0
Credit_Lnks               0
Experience            21845
Income_Alt             7682
Day_Process               0
Ph.No                     0
Type_Loan                 0
Dependents                0
Company_Rating        11731
Region                    0
Age                       0
hour_Process              0
Addr_permanent            0
Permanent_Addr_tag        0
c1_rated              17513
c2_rated              13321
Contact_age            8153
Product_bought            0
Default                   0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132440 entries, 0 to 132439
Data columns (total 32 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Compensation        126198 non-null  float64
 1   Vehicle_Status      123336 non-null  object
 2   Loan_amt            132440 non-null  float64
 3   Annuity_amt         127829 non-null  float64
 4   density_Ind         127024 non-null  float64
 5   Job_Type            122192 non-null  object
 6   Default_hist        132440 non-null  object
 7   Prop_List           130475 non-null  object
 8   Home_Appliances     121476 non-null  float64
 9   Region_Type         132440 non-null  object
 10  Credit_Inq          129750 non-null  object
 11  Education_det       132440 non-null  object
 12  Marital_Stat        132440 non-null  object
 13  Gen                 132440 non-null  object
 14  Credit_Lnks         132440 non-null  object
 15  Experience          110595 non-null  float64
 16  Income_Alt          124758 non-null  object
 17  Day_Process         132440 non-null  object
 18  Ph.No               132440 non-null  object
 19  Type_Loan           132440 non-null  object
 20  Dependents          132440 non-null  float64
 21  Company_Rating      120709 non-null  float64
 22  Region              132440 non-null  object
 23  Age                 132440 non-null  float64
 24  hour_Process        132440 non-null  float64
 25  Addr_permanent      132440 non-null  object
 26  Permanent_Addr_tag  132440 non-null  object
 27  c1_rated            114927 non-null  float64
 28  c2_rated            119119 non-null  float64
 29  Contact_age         124287 non-null  float64
 30  Product_bought      132440 non-null  float64
 31  Default             132440 non-null  float64
dtypes: float64(15), object(17)
memory usage: 32.3+ MB

In [6]:
df['Compensation'].fillna(df['Compensation'].mean(),inplace=True)
df['Annuity_amt'].fillna(df['Annuity_amt'].mean(),inplace=True)
df['density_Ind'].fillna(df['density_Ind'].mean(),inplace=True)
df['Home_Appliances'].fillna(df['Home_Appliances'].mean(),inplace=True)
df['Experience'].fillna(df['Experience'].mean(),inplace=True)
df['Company_Rating'].fillna(df['Company_Rating'].mean(),inplace=True)
df['c1_rated'].fillna(df['c1_rated'].mean(),inplace=True)
df['c2_rated'].fillna(df['c2_rated'].mean(),inplace=True)
df['Contact_age'].fillna(df['Contact_age'].mean(),inplace=True)


df['Vehicle_Status'].fillna(df['Vehicle_Status'].value_counts().index[0],inplace=True)
df['Job_Type'].fillna(df['Job_Type'].value_counts().index[0],inplace=True)
df['Prop_List'].fillna(df['Prop_List'].value_counts().index[0],inplace=True)
df['Credit_Inq'].fillna(df['Credit_Inq'].value_counts().index[0],inplace=True)
df['Income_Alt'].fillna(df['Income_Alt'].value_counts().index[0],inplace=True)

In [7]:
df.dropna(inplace=True)
df

,Compensation,Vehicle_Status,Loan_amt,Annuity_amt,density_Ind,Job_Type,Default_hist,Prop_List,Home_Appliances,Region_Type,...,Region,Age,hour_Process,Addr_permanent,Permanent_Addr_tag,c1_rated,c2_rated,Contact_age,Product_bought,Default
0,801850.0,Y,658040.0,13816.52,0.030400,IT,ndf,Morethan_One,3.220891,Metro,...,East,46.0,10.0,Yes,No,0.077000,0.077,18.0,2.0,1.0
1,884222.0,N,198075.0,11173.06,0.019400,IT,ndf,Morethan_One,1.000000,Metro,...,North,46.0,12.0,Yes,Yes,0.184000,0.184,306.0,4.0,0.0
2,284120.0,N,101056.0,8390.40,0.011800,Govt.,ndf,One,4.000000,Metro,...,North,57.0,5.0,Yes,Yes,0.538000,0.538,281.0,4.0,0.0
3,341874.0,N,179008.0,7184.13,0.037300,Non-IT,df,None,2.000000,Metro,...,South,39.0,12.0,Yes,Yes,0.505929,0.561,20.0,4.0,0.0
4,1259895.0,Y,573715.0,13212.77,0.013800,Non-IT,ndf,Morethan_One,1.000000,Rural,...,North,32.0,16.0,Yes,Yes,0.505929,0.200,2339.0,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132435,641706.0,Y,1048272.0,13181.84,0.023800,IT,ndf,One,4.000000,Rural,...,North,43.0,7.0,Yes,Yes,0.886000,0.886,2766.0,5.0,1.0
132436,594160.0,N,640232.0,11911.93,0.026200,IT,ndf,One,4.000000,Metro,...,North,60.0,9.0,Yes,Yes,0.505929,0.641,2581.0,1.0,0.0
132437,1471170.0,N,732914.0,11587.54,0.020446,Non-IT,ndf,One,4.000000,Metro,...,South,51.0,4.0,Yes,Yes,0.384000,0.384,1987.0,3.0,0.0
132438,613585.0,N,528490.2,13008.76,0.005600,Non-IT,ndf,One,4.000000,Metro,...,Central,59.0,14.0,Yes,Yes,0.224000,0.224,1608.0,2.0,1.0
132439,533725.0,Y,330222.0,10250.65,0.020446,Govt.,ndf,Morethan_One,1.000000,Rural,...,North,34.0,13.0,Yes,Yes,0.128000,0.128,11.0,2.0,1.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132440 entries, 0 to 132439
Data columns (total 32 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Compensation        132440 non-null  float64
 1   Vehicle_Status      132440 non-null  object
 2   Loan_amt            132440 non-null  float64
 3   Annuity_amt         132440 non-null  float64
 4   density_Ind         132440 non-null  float64
 5   Job_Type            132440 non-null  object
 6   Default_hist        132440 non-null  object
 7   Prop_List           132440 non-null  object
 8   Home_Appliances     132440 non-null  float64
 9   Region_Type         132440 non-null  object
 10  Credit_Inq          132440 non-null  object
 11  Education_det       132440 non-null  object
 12  Marital_Stat        132440 non-null  object
 13  Gen                 132440 non-null  object
 14  Credit_Lnks         132440 non-null  object
 15  Experience          132440 non-null  float64
 16  Income_Alt          132440 non-null  object
 17  Day_Process         132440 non-null  object
 18  Ph.No               132440 non-null  object
 19  Type_Loan           132440 non-null  object
 20  Dependents          132440 non-null  float64
 21  Company_Rating      132440 non-null  float64
 22  Region              132440 non-null  object
 23  Age                 132440 non-null  float64
 24  hour_Process        132440 non-null  float64
 25  Addr_permanent      132440 non-null  object
 26  Permanent_Addr_tag  132440 non-null  object
 27  c1_rated            132440 non-null  float64
 28  c2_rated            132440 non-null  float64
 29  Contact_age         132440 non-null  float64
 30  Product_bought      132440 non-null  float64
 31  Default             132440 non-null  float64
dtypes: float64(15), object(17)
memory usage: 33.3+ MB

In [9]:
df = pd.get_dummies(df,drop_first=True)
X = df.drop('Default', axis=1)

y = df['Default']

In [10]:
from sklearn import preprocessing

scaler = preprocessing.StandardScaler()
# X = df.drop('Status', axis=1)
X = pd.get_dummies(X,drop_first=True)
x1  = scaler.fit_transform(X) 
X=pd.DataFrame(x1,columns=X.columns,index=X.index)

In [11]:
X.shape

(132440, 47)

In [12]:
from keras import backend as K

def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision

def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

import tensorflow as tf

model = tf.keras.Sequential([tf.keras.layers.Dense(1)])
model.compile(loss = tf.keras.losses.BinaryCrossentropy(),
                optimizer = tf.keras.optimizers.SGD(learning_rate=0.09,nesterov=True), 
#SGD stands for Stochastic Gradient Descent

                metrics=[f1_m,'acc',precision_m, recall_m])

model.fit(X, y, epochs = 60)

Epoch 1/60
4139/4139 [==============================] - 6s 1ms/step - loss: 6.3645 - f1_m: 0.2809 - acc: 0.5773 - precision_m: 0.2626 - recall_m: 0.3347
Epoch 2/60
4139/4139 [==============================] - 5s 1ms/step - loss: 5.3531 - f1_m: 0.2078 - acc: 0.6483 - precision_m: 0.2665 - recall_m: 0.1880
Epoch 3/60
4139/4139 [==============================] - 5s 1ms/step - loss: 5.4059 - f1_m: 0.1933 - acc: 0.6458 - precision_m: 0.2494 - recall_m: 0.1737
Epoch 4/60
4139/4139 [==============================] - 5s 1ms/step - loss: 5.8422 - f1_m: 0.2310 - acc: 0.6174 - precision_m: 0.2585 - recall_m: 0.2399
Epoch 5/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.7840 - f1_m: 0.3046 - acc: 0.5566 - precision_m: 0.2661 - recall_m: 0.3868
Epoch 6/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.7724 - f1_m: 0.3040 - acc: 0.5573 - precision_m: 0.2658 - recall_m: 0.3838
Epoch 7/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.7610 - f1_m: 0.3040 - acc: 0.5581 - precision_m: 0.2667 - recall_m: 0.3828
Epoch 8/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.7566 - f1_m: 0.3044 - acc: 0.5584 - precision_m: 0.2675 - recall_m: 0.3824
Epoch 9/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.7608 - f1_m: 0.3039 - acc: 0.5581 - precision_m: 0.2662 - recall_m: 0.3832
Epoch 10/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.7528 - f1_m: 0.3033 - acc: 0.5586 - precision_m: 0.2662 - recall_m: 0.3822
Epoch 11/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.7427 - f1_m: 0.3035 - acc: 0.5594 - precision_m: 0.2669 - recall_m: 0.3815
Epoch 12/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.7377 - f1_m: 0.3030 - acc: 0.5596 - precision_m: 0.2667 - recall_m: 0.3805
Epoch 13/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.7255 - f1_m: 0.3014 - acc: 0.5605 - precision_m: 0.2661 - recall_m: 0.3770
Epoch 14/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.7372 - f1_m: 0.3020 - acc: 0.5597 - precision_m: 0.2656 - recall_m: 0.3801
Epoch 15/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.8735 - f1_m: 0.3077 - acc: 0.5507 - precision_m: 0.2657 - recall_m: 0.3959
Epoch 16/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.8566 - f1_m: 0.3075 - acc: 0.5518 - precision_m: 0.2662 - recall_m: 0.3948
Epoch 17/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.8431 - f1_m: 0.3063 - acc: 0.5527 - precision_m: 0.2658 - recall_m: 0.3911
Epoch 18/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.8146 - f1_m: 0.3050 - acc: 0.5546 - precision_m: 0.2657 - recall_m: 0.3875
Epoch 19/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.8166 - f1_m: 0.3053 - acc: 0.5544 - precision_m: 0.2654 - recall_m: 0.3893
Epoch 20/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.8113 - f1_m: 0.3055 - acc: 0.5548 - precision_m: 0.2660 - recall_m: 0.3887
Epoch 21/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.7577 - f1_m: 0.3038 - acc: 0.5583 - precision_m: 0.2662 - recall_m: 0.3824
Epoch 22/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.7149 - f1_m: 0.3019 - acc: 0.5613 - precision_m: 0.2667 - recall_m: 0.3765
Epoch 23/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.7063 - f1_m: 0.3017 - acc: 0.5617 - precision_m: 0.2662 - recall_m: 0.3761
Epoch 24/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.6972 - f1_m: 0.3013 - acc: 0.5623 - precision_m: 0.2672 - recall_m: 0.3740
Epoch 25/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.6833 - f1_m: 0.3008 - acc: 0.5632 - precision_m: 0.2667 - recall_m: 0.3741
Epoch 26/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.6385 - f1_m: 0.3004 - acc: 0.5662 - precision_m: 0.2676 - recall_m: 0.3717
Epoch 27/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.6372 - f1_m: 0.2989 - acc: 0.5662 - precision_m: 0.2670 - recall_m: 0.3675
Epoch 28/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.6332 - f1_m: 0.2988 - acc: 0.5667 - precision_m: 0.2675 - recall_m: 0.3659
Epoch 29/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.6230 - f1_m: 0.2987 - acc: 0.5673 - precision_m: 0.2675 - recall_m: 0.3673
Epoch 30/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.6154 - f1_m: 0.2984 - acc: 0.5677 - precision_m: 0.2680 - recall_m: 0.3651
Epoch 31/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.6029 - f1_m: 0.2966 - acc: 0.5686 - precision_m: 0.2666 - recall_m: 0.3644
Epoch 32/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.5901 - f1_m: 0.2970 - acc: 0.5694 - precision_m: 0.2680 - recall_m: 0.3627
Epoch 33/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.5705 - f1_m: 0.2952 - acc: 0.5707 - precision_m: 0.2669 - recall_m: 0.3594
Epoch 34/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.5566 - f1_m: 0.2952 - acc: 0.5715 - precision_m: 0.2676 - recall_m: 0.3586
Epoch 35/60
4139/4139 [==============================] - 6s 1ms/step - loss: 6.5431 - f1_m: 0.2947 - acc: 0.5726 - precision_m: 0.2675 - recall_m: 0.3560
Epoch 36/60
4139/4139 [==============================] - 6s 1ms/step - loss: 6.5200 - f1_m: 0.2930 - acc: 0.5739 - precision_m: 0.2666 - recall_m: 0.3531
Epoch 37/60
4139/4139 [==============================] - 6s 2ms/step - loss: 6.5078 - f1_m: 0.2928 - acc: 0.5748 - precision_m: 0.2672 - recall_m: 0.3508
Epoch 38/60
4139/4139 [==============================] - 6s 1ms/step - loss: 6.4900 - f1_m: 0.2917 - acc: 0.5760 - precision_m: 0.2681 - recall_m: 0.3481
Epoch 39/60
4139/4139 [==============================] - 6s 1ms/step - loss: 6.4543 - f1_m: 0.2901 - acc: 0.5783 - precision_m: 0.2684 - recall_m: 0.3431
Epoch 40/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.4424 - f1_m: 0.2890 - acc: 0.5792 - precision_m: 0.2680 - recall_m: 0.3417
Epoch 41/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.4408 - f1_m: 0.2883 - acc: 0.5792 - precision_m: 0.2672 - recall_m: 0.3386
Epoch 42/60
4139/4139 [==============================] - 6s 1ms/step - loss: 6.4401 - f1_m: 0.2894 - acc: 0.5793 - precision_m: 0.2686 - recall_m: 0.3418A: 2s - loss: 6.4438 - f1_m: 0.2856 - acc: 0
Epoch 43/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.4266 - f1_m: 0.2895 - acc: 0.5802 - precision_m: 0.2691 - recall_m: 0.3406
Epoch 44/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.4019 - f1_m: 0.2860 - acc: 0.5818 - precision_m: 0.2670 - recall_m: 0.3345
Epoch 45/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.3821 - f1_m: 0.2818 - acc: 0.5832 - precision_m: 0.2653 - recall_m: 0.3268
Epoch 46/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.3690 - f1_m: 0.2817 - acc: 0.5840 - precision_m: 0.2661 - recall_m: 0.3251
Epoch 47/60
4139/4139 [==============================] - 6s 1ms/step - loss: 6.3618 - f1_m: 0.2816 - acc: 0.5844 - precision_m: 0.2664 - recall_m: 0.3247
Epoch 48/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.3513 - f1_m: 0.2812 - acc: 0.5851 - precision_m: 0.2663 - recall_m: 0.3239
Epoch 49/60
4139/4139 [==============================] - 5s 1ms/step - loss: 6.4519 - f1_m: 0.2859 - acc: 0.5785 - precision_m: 0.2661 - recall_m: 0.3379
Epoch 50/60
4139/4139 [==============================] - 5s 1ms/step - loss: 7.1662 - f1_m: 0.3249 - acc: 0.5315 - precision_m: 0.2679 - recall_m: 0.4468A: 3s - loss: 7.1842
Epoch 51/60
4139/4139 [==============================] - 5s 1ms/step - loss: 7.1658 - f1_m: 0.3247 - acc: 0.5316 - precision_m: 0.2678 - recall_m: 0.4464
Epoch 52/60
4139/4139 [==============================] - 5s 1ms/step - loss: 7.1582 - f1_m: 0.3246 - acc: 0.5321 - precision_m: 0.2683 - recall_m: 0.4439
Epoch 53/60

4139/4139 [==============================] - 6s 1ms/step - loss: 7.1514 - f1_m: 0.3243 - acc: 0.5325 - precision_m: 0.2679 - recall_m: 0.4436
Epoch 54/60
4139/4139 [==============================] - 6s 1ms/step - loss: 7.1484 - f1_m: 0.3234 - acc: 0.5327 - precision_m: 0.2678 - recall_m: 0.4420
Epoch 55/60
4139/4139 [==============================] - 5s 1ms/step - loss: 7.1446 - f1_m: 0.3236 - acc: 0.5330 - precision_m: 0.2679 - recall_m: 0.4427
Epoch 56/60
4139/4139 [==============================] - 5s 1ms/step - loss: 7.1418 - f1_m: 0.3234 - acc: 0.5331 - precision_m: 0.2680 - recall_m: 0.4417
Epoch 57/60
4139/4139 [==============================] - 6s 1ms/step - loss: 7.1394 - f1_m: 0.3240 - acc: 0.5333 - precision_m: 0.2680 - recall_m: 0.4435
Epoch 58/60
4139/4139 [==============================] - 5s 1ms/step - loss: 7.1363 - f1_m: 0.3231 - acc: 0.5335 - precision_m: 0.2674 - recall_m: 0.4407
Epoch 59/60
4139/4139 [==============================] - 6s 1ms/step - loss: 7.1248 - f1_m: 0.3236 - acc: 0.5343 - precision_m: 0.2681 - recall_m: 0.4418
Epoch 60/60
4139/4139 [==============================] - 5s 1ms/step - loss: 7.1184 - f1_m: 0.3226 - acc: 0.5347 - precision_m: 0.2680 - recall_m: 0.4389

In [13]:
df = pd.read_csv('Test_Set_TVS.csv')
df

,ID,Compensation,Vehicle_Status,Loan_amt,Annuity_amt,density_Ind,Job_Type,Default_hist,Prop_List,Home_Appliances,...,Company_Rating,Region,Age,hour_Process,Addr_permanent,Permanent_Addr_tag,c1_rated,c2_rated,Contact_age,Product_bought
0,487410,653106.0,Y,809400.00,9145.51,0.0015,Govt.,ndf,Morethan_One,1.0,...,2.0,North,39.0,11.0,Yes,Yes,0.349,0.349,3133.0,2.0
1,533258,434150.0,N,72618.75,7683.23,0.0332,Govt.,ndf,One,4.0,...,3.0,Central,46.0,13.0,Yes,Yes,0.237,0.237,1730.0,5.0
2,581926,489060.0,N,267255.80,9032.85,0.0316,IT,ndf,Morethan_One,NaN,...,2.0,South,33.0,15.0,Yes,Yes,0.111,0.111,759.0,4.0
3,486301,957294.0,N,623600.00,12838.25,0.0320,IT,ndf,One,4.0,...,2.0,East,48.0,12.0,Yes,Yes,0.323,0.323,609.0,4.0
4,580822,1333739.0,N,529520.00,11799.09,0.0073,Non-IT,ndf,One,4.0,...,3.0,North,53.0,7.0,Yes,Yes,0.940,0.940,1222.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56755,513665,671640.0,N,260085.00,9654.50,0.0050,IT,ndf,One,4.0,...,2.0,North,42.0,11.0,Yes,Yes,0.716,0.716,215.0,7.0
56756,450327,650680.0,N,714467.60,14063.75,0.0321,NaN,ndf,One,NaN,...,3.0,East,47.0,9.0,Yes,Yes,NaN,0.193,22.0,0.0
56757,476417,551374.0,NaN,231420.00,11299.78,0.0334,Govt.,df,None,2.0,...,2.0,East,35.0,10.0,No,Yes,0.175,0.175,776.0,5.0
56758,461152,975117.0,N,1096620.00,10223.30,0.0052,IT,ndf,One,4.0,...,1.0,North,22.0,13.0,Yes,No,0.669,0.669,873.0,3.0
56759,524075,NaN,N,197232.00,12178.59,0.0155,IT,ndf,One,4.0,...,2.0,East,39.0,11.0,Yes,No,0.237,0.237,NaN,2.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56760 entries, 0 to 56759
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  56760 non-null  int64
 1   Compensation        54010 non-null  float64
 2   Vehicle_Status      52877 non-null  object
 3   Loan_amt            56760 non-null  float64
 4   Annuity_amt         54797 non-null  float64
 5   density_Ind         54485 non-null  float64
 6   Job_Type            52440 non-null  object
 7   Default_hist        56760 non-null  object
 8   Prop_List           55849 non-null  object
 9   Home_Appliances     52001 non-null  float64
 10  Region_Type         56760 non-null  object
 11  Credit_Inq          55594 non-null  object
 12  Education_det       56760 non-null  object
 13  Marital_Stat        56760 non-null  object
 14  Gen                 56760 non-null  object
 15  Credit_Lnks         56760 non-null  object
 16  Experience          47409 non-null  float64
 17  Income_Alt          53461 non-null  object
 18  Day_Process         56760 non-null  object
 19  Ph.No               56760 non-null  object
 20  Type_Loan           56760 non-null  object
 21  Dependents          56760 non-null  float64
 22  Company_Rating      51707 non-null  float64
 23  Region              56760 non-null  object
 24  Age                 56760 non-null  float64
 25  hour_Process        56760 non-null  float64
 26  Addr_permanent      56760 non-null  object
 27  Permanent_Addr_tag  56760 non-null  object
 28  c1_rated            49397 non-null  float64
 29  c2_rated            51105 non-null  float64
 30  Contact_age         53238 non-null  float64
 31  Product_bought      56760 non-null  float64
dtypes: float64(14), int64(1), object(17)
memory usage: 13.9+ MB

In [15]:
df.isnull().sum()

ID                       0
Compensation          2750
Vehicle_Status        3883
Loan_amt                 0
Annuity_amt           1963
density_Ind           2275
Job_Type              4320
Default_hist             0
Prop_List              911
Home_Appliances       4759
Region_Type              0
Credit_Inq            1166
Education_det            0
Marital_Stat             0
Gen                      0
Credit_Lnks              0
Experience            9351
Income_Alt            3299
Day_Process              0
Ph.No                    0
Type_Loan                0
Dependents               0
Company_Rating        5053
Region                   0
Age                      0
hour_Process             0
Addr_permanent           0
Permanent_Addr_tag       0
c1_rated              7363
c2_rated              5655
Contact_age           3522
Product_bought           0
dtype: int64

In [16]:
df['Compensation'].fillna(df['Compensation'].mean(),inplace=True)
df['Annuity_amt'].fillna(df['Annuity_amt'].mean(),inplace=True)
df['density_Ind'].fillna(df['density_Ind'].mean(),inplace=True)
df['Home_Appliances'].fillna(df['Home_Appliances'].mean(),inplace=True)
df['Experience'].fillna(df['Experience'].mean(),inplace=True)
df['Company_Rating'].fillna(df['Company_Rating'].mean(),inplace=True)
df['c1_rated'].fillna(df['c1_rated'].mean(),inplace=True)
df['c2_rated'].fillna(df['c2_rated'].mean(),inplace=True)
df['Contact_age'].fillna(df['Contact_age'].mean(),inplace=True)


df['Vehicle_Status'].fillna(df['Vehicle_Status'].value_counts().index[0],inplace=True)
df['Job_Type'].fillna(df['Job_Type'].value_counts().index[0],inplace=True)
df['Prop_List'].fillna(df['Prop_List'].value_counts().index[0],inplace=True)
df['Credit_Inq'].fillna(df['Credit_Inq'].value_counts().index[0],inplace=True)
df['Income_Alt'].fillna(df['Income_Alt'].value_counts().index[0],inplace=True)

In [17]:
df.isnull().sum()

ID                    0
Compensation          0
Vehicle_Status        0
Loan_amt              0
Annuity_amt           0
density_Ind           0
Job_Type              0
Default_hist          0
Prop_List             0
Home_Appliances       0
Region_Type           0
Credit_Inq            0
Education_det         0
Marital_Stat          0
Gen                   0
Credit_Lnks           0
Experience            0
Income_Alt            0
Day_Process           0
Ph.No                 0
Type_Loan             0
Dependents            0
Company_Rating        0
Region                0
Age                   0
hour_Process          0
Addr_permanent        0
Permanent_Addr_tag    0
c1_rated              0
c2_rated              0
Contact_age           0
Product_bought        0
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56760 entries, 0 to 56759
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  56760 non-null  int64
 1   Compensation        56760 non-null  float64
 2   Vehicle_Status      56760 non-null  object
 3   Loan_amt            56760 non-null  float64
 4   Annuity_amt         56760 non-null  float64
 5   density_Ind         56760 non-null  float64
 6   Job_Type            56760 non-null  object
 7   Default_hist        56760 non-null  object
 8   Prop_List           56760 non-null  object
 9   Home_Appliances     56760 non-null  float64
 10  Region_Type         56760 non-null  object
 11  Credit_Inq          56760 non-null  object
 12  Education_det       56760 non-null  object
 13  Marital_Stat        56760 non-null  object
 14  Gen                 56760 non-null  object
 15  Credit_Lnks         56760 non-null  object
 16  Experience          56760 non-null  float64
 17  Income_Alt          56760 non-null  object
 18  Day_Process         56760 non-null  object
 19  Ph.No               56760 non-null  object
 20  Type_Loan           56760 non-null  object
 21  Dependents          56760 non-null  float64
 22  Company_Rating      56760 non-null  float64
 23  Region              56760 non-null  object
 24  Age                 56760 non-null  float64
 25  hour_Process        56760 non-null  float64
 26  Addr_permanent      56760 non-null  object
 27  Permanent_Addr_tag  56760 non-null  object
 28  c1_rated            56760 non-null  float64
 29  c2_rated            56760 non-null  float64
 30  Contact_age         56760 non-null  float64
 31  Product_bought      56760 non-null  float64
dtypes: float64(14), int64(1), object(17)
memory usage: 13.9+ MB

In [19]:
df = pd.get_dummies(df,drop_first=True)
x1  = scaler.fit_transform(df) 
df=pd.DataFrame(x1,columns=df.columns,index=df.index)

In [20]:
df['Default'] = model.predict(df.drop('ID',axis=1))
df

,ID,Compensation,Loan_amt,Annuity_amt,density_Ind,Home_Appliances,Experience,Dependents,Company_Rating,Age,...,Day_Process_thur,Day_Process_wed,Ph.No_Yes,Type_Loan_RLoan,Region_East,Region_North,Region_South,Addr_permanent_Yes,Permanent_Addr_tag_Yes,Default
0,-0.029884,-0.242904,1.430659,-0.833283,-1.152844,-1.869645,-2.072411e-01,0.934162,-0.059097,-0.412734,...,2.271753,-0.452197,0.500248,-0.321459,-0.532115,1.217983,-0.465084,0.286983,0.466932,-637.481995
1,0.754391,-0.839118,-1.239008,-1.555643,0.774176,0.656120,-7.469868e-01,-0.165924,2.015408,0.171600,...,-0.440189,2.211427,-1.999010,-0.321459,-0.532115,-0.821029,-0.465084,0.286983,0.466932,448.720062
2,1.586905,-0.689599,-0.533756,-0.888937,0.676914,0.000000,7.677833e-01,0.934162,-0.059097,-0.913592,...,2.271753,-0.452197,-1.999010,-0.321459,-0.532115,-0.821029,2.150149,0.286983,0.466932,799.001038
3,-0.048854,0.585395,0.757428,0.990912,0.701229,0.656120,5.414384e-01,-0.165924,-0.059097,0.338552,...,-0.440189,-0.452197,0.500248,-0.321459,1.879291,-0.821029,-0.465084,0.286983,0.466932,342.084076
4,1.568020,1.610449,0.416537,0.477572,-0.800266,0.656120,-1.391779e-15,-0.165924,2.015408,0.755934,...,-0.440189,2.211427,0.500248,3.110820,-0.532115,1.217983,-0.465084,0.286983,0.466932,-729.336121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56755,0.419234,-0.192436,-0.559739,-0.581845,-0.940082,0.656120,-5.206419e-01,-1.266010,-0.059097,-0.162305,...,-0.440189,2.211427,0.500248,-0.321459,-0.532115,1.217983,-0.465084,0.286983,0.466932,-811.147644
56756,-0.664225,-0.249510,1.086680,1.596304,0.707308,0.000000,1.481641e+00,-0.165924,2.015408,0.255076,...,-0.440189,-0.452197,0.500248,-0.321459,1.879291,-0.821029,-0.465084,0.286983,0.466932,514.088806
56757,-0.217930,-0.519919,-0.663604,0.230916,0.786334,-1.027724,-1.095210e+00,0.934162,-0.059097,-0.746639,...,2.271753,-0.452197,0.500248,3.110820,1.879291,-0.821029,-0.465084,-3.484527,0.466932,1381.431641
56758,-0.479052,0.633927,2.471378,-0.300860,-0.927924,0.656120,-9.036872e-01,-1.266010,-2.133603,-1.831831,...,-0.440189,-0.452197,0.500248,-0.321459,-0.532115,1.217983,-0.465084,0.286983,-2.141638,-884.775513
56759,0.597307,0.000000,-0.787482,0.665044,-0.301794,0.656120,-1.095210e+00,-0.165924,-0.059097,-0.412734,...,2.271753,-0.452197,0.500248,-0.321459,1.879291,-0.821029,-0.465084,0.286983,-2.141638,-522.719238

In [21]:
df2=df[['ID','Default']]
df2['ID'] = df2['ID'].astype('int64')
df2['Default'] = df2['Default'].astype('int64')
df2

C:\Users\cools\AppData\Local\Temp/ipykernel_8784/945601740.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['ID'] = df2['ID'].astype('int64')
C:\Users\cools\AppData\Local\Temp/ipykernel_8784/945601740.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Default'] = df2['Default'].astype('int64')

       ID  Default
0       0     -637
1       0      448
2       1      799
3       0      342
4       1     -729
...    ..      ...
56755   0     -811
56756   0      514
56757   0     1381
56758   0     -884
56759   0     -522

[56760 rows x 2 columns]

In [22]:
df = pd.read_csv('Test_Set_TVS.csv')
df

,ID,Compensation,Vehicle_Status,Loan_amt,Annuity_amt,density_Ind,Job_Type,Default_hist,Prop_List,Home_Appliances,...,Company_Rating,Region,Age,hour_Process,Addr_permanent,Permanent_Addr_tag,c1_rated,c2_rated,Contact_age,Product_bought
0,487410,653106.0,Y,809400.00,9145.51,0.0015,Govt.,ndf,Morethan_One,1.0,...,2.0,North,39.0,11.0,Yes,Yes,0.349,0.349,3133.0,2.0
1,533258,434150.0,N,72618.75,7683.23,0.0332,Govt.,ndf,One,4.0,...,3.0,Central,46.0,13.0,Yes,Yes,0.237,0.237,1730.0,5.0
2,581926,489060.0,N,267255.80,9032.85,0.0316,IT,ndf,Morethan_One,NaN,...,2.0,South,33.0,15.0,Yes,Yes,0.111,0.111,759.0,4.0
3,486301,957294.0,N,623600.00,12838.25,0.0320,IT,ndf,One,4.0,...,2.0,East,48.0,12.0,Yes,Yes,0.323,0.323,609.0,4.0
4,580822,1333739.0,N,529520.00,11799.09,0.0073,Non-IT,ndf,One,4.0,...,3.0,North,53.0,7.0,Yes,Yes,0.940,0.940,1222.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56755,513665,671640.0,N,260085.00,9654.50,0.0050,IT,ndf,One,4.0,...,2.0,North,42.0,11.0,Yes,Yes,0.716,0.716,215.0,7.0
56756,450327,650680.0,N,714467.60,14063.75,0.0321,NaN,ndf,One,NaN,...,3.0,East,47.0,9.0,Yes,Yes,NaN,0.193,22.0,0.0
56757,476417,551374.0,NaN,231420.00,11299.78,0.0334,Govt.,df,None,2.0,...,2.0,East,35.0,10.0,No,Yes,0.175,0.175,776.0,5.0
56758,461152,975117.0,N,1096620.00,10223.30,0.0052,IT,ndf,One,4.0,...,1.0,North,22.0,13.0,Yes,No,0.669,0.669,873.0,3.0
56759,524075,NaN,N,197232.00,12178.59,0.0155,IT,ndf,One,4.0,...,2.0,East,39.0,11.0,Yes,No,0.237,0.237,NaN,2.0

In [23]:
df2['ID'] = df['ID']
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56760 entries, 0 to 56759
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       56760 non-null  int64
 1   Default  56760 non-null  int64
dtypes: int64(2)
memory usage: 887.0 KB

C:\Users\cools\AppData\Local\Temp/ipykernel_8784/2065228058.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['ID'] = df['ID']

In [24]:
pd.DataFrame(df2['Default'].value_counts()).reset_index().sort_values("index")

      index  Default
3914  -2603        1
4045  -2280        1
3762  -2036        1
4159  -1992        1
3774  -1961        1
...     ...      ...
4021   3719        1
4072   3737        1
3630   3880        1
3812   8469        1
4123   9332        1

[4167 rows x 2 columns]

In [25]:
df3=df2.copy()

In [26]:
df2=df3.copy()

In [27]:
df2['Default'] = df2['Default'].apply(lambda x: 0 if x<=-1185 else 1)
df2

           ID  Default
0      487410        1
1      533258        1
2      581926        1
3      486301        1
4      580822        1
...       ...      ...
56755  513665        1
56756  450327        1
56757  476417        1
56758  461152        1
56759  524075        1

[56760 rows x 2 columns]

In [28]:
df2['Default'].value_counts()

1    55280
0     1480
Name: Default, dtype: int64

In [29]:
df2.to_csv('file4.csv',index=0)