In [50]:
import pandas as pd
import numpy as np

In [51]:
df = pd.read_csv('Train_Set_TVS.csv')
df

,ID,Compensation,Vehicle_Status,Loan_amt,Annuity_amt,density_Ind,Job_Type,Default_hist,Prop_List,Home_Appliances,...,Region,Age,hour_Process,Addr_permanent,Permanent_Addr_tag,c1_rated,c2_rated,Contact_age,Product_bought,Default
0,540071,801850.0,Y,658040.0,13816.52,0.0304,IT,ndf,Morethan_One,NaN,...,East,46.0,10.0,Yes,No,0.077,0.077,18.0,2.0,1.0
1,511643,884222.0,N,198075.0,11173.06,0.0194,IT,ndf,Morethan_One,1.0,...,North,46.0,12.0,Yes,Yes,0.184,0.184,306.0,4.0,0.0
2,506688,284120.0,N,101056.0,8390.40,0.0118,Govt.,ndf,One,4.0,...,North,57.0,5.0,Yes,Yes,0.538,0.538,281.0,4.0,0.0
3,499360,341874.0,N,179008.0,7184.13,0.0373,Non-IT,df,None,2.0,...,South,39.0,12.0,Yes,Yes,NaN,0.561,20.0,4.0,0.0
4,438350,1259895.0,Y,573715.0,13212.77,0.0138,Non-IT,ndf,Morethan_One,1.0,...,North,32.0,16.0,Yes,Yes,NaN,0.200,2339.0,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132435,435665,641706.0,Y,1048272.0,13181.84,0.0238,IT,ndf,One,4.0,...,North,43.0,7.0,Yes,Yes,0.886,0.886,2766.0,5.0,1.0
132436,509840,594160.0,N,640232.0,11911.93,0.0262,IT,ndf,One,4.0,...,North,60.0,9.0,Yes,Yes,NaN,0.641,2581.0,1.0,0.0
132437,504105,1471170.0,N,732914.0,11587.54,NaN,Non-IT,ndf,One,4.0,...,South,51.0,4.0,Yes,Yes,0.384,0.384,1987.0,3.0,0.0
132438,430757,613585.0,N,528490.2,13008.76,0.0056,Non-IT,ndf,One,4.0,...,Central,59.0,14.0,Yes,Yes,0.224,0.224,1608.0,2.0,1.0
132439,421054,533725.0,Y,330222.0,10250.65,NaN,Govt.,ndf,Morethan_One,1.0,...,North,34.0,13.0,Yes,Yes,0.128,0.128,11.0,2.0,1.0

In [52]:
df.drop('ID',axis=1,inplace=True)

In [53]:
df.isnull().sum()

Compensation           6242
Vehicle_Status         9104
Loan_amt                  0
Annuity_amt            4611
density_Ind            5416
Job_Type              10248
Default_hist              0
Prop_List              1965
Home_Appliances       10964
Region_Type               0
Credit_Inq             2690
Education_det             0
Marital_Stat              0
Gen                       0
Credit_Lnks               0
Experience            21845
Income_Alt             7682
Day_Process               0
Ph.No                     0
Type_Loan                 0
Dependents                0
Company_Rating        11731
Region                    0
Age                       0
hour_Process              0
Addr_permanent            0
Permanent_Addr_tag        0
c1_rated              17513
c2_rated              13321
Contact_age            8153
Product_bought            0
Default                   0
dtype: int64

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132440 entries, 0 to 132439
Data columns (total 32 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Compensation        126198 non-null  float64
 1   Vehicle_Status      123336 non-null  object
 2   Loan_amt            132440 non-null  float64
 3   Annuity_amt         127829 non-null  float64
 4   density_Ind         127024 non-null  float64
 5   Job_Type            122192 non-null  object
 6   Default_hist        132440 non-null  object
 7   Prop_List           130475 non-null  object
 8   Home_Appliances     121476 non-null  float64
 9   Region_Type         132440 non-null  object
 10  Credit_Inq          129750 non-null  object
 11  Education_det       132440 non-null  object
 12  Marital_Stat        132440 non-null  object
 13  Gen                 132440 non-null  object
 14  Credit_Lnks         132440 non-null  object
 15  Experience          110595 non-null  float64
 16  Income_Alt          124758 non-null  object
 17  Day_Process         132440 non-null  object
 18  Ph.No               132440 non-null  object
 19  Type_Loan           132440 non-null  object
 20  Dependents          132440 non-null  float64
 21  Company_Rating      120709 non-null  float64
 22  Region              132440 non-null  object
 23  Age                 132440 non-null  float64
 24  hour_Process        132440 non-null  float64
 25  Addr_permanent      132440 non-null  object
 26  Permanent_Addr_tag  132440 non-null  object
 27  c1_rated            114927 non-null  float64
 28  c2_rated            119119 non-null  float64
 29  Contact_age         124287 non-null  float64
 30  Product_bought      132440 non-null  float64
 31  Default             132440 non-null  float64
dtypes: float64(15), object(17)
memory usage: 32.3+ MB

In [55]:
df['Compensation'].fillna(df['Compensation'].mean(),inplace=True)
df['Annuity_amt'].fillna(df['Annuity_amt'].mean(),inplace=True)
df['density_Ind'].fillna(df['density_Ind'].mean(),inplace=True)
df['Home_Appliances'].fillna(df['Home_Appliances'].mean(),inplace=True)
df['Experience'].fillna(df['Experience'].mean(),inplace=True)
df['Company_Rating'].fillna(df['Company_Rating'].mean(),inplace=True)
df['c1_rated'].fillna(df['c1_rated'].mean(),inplace=True)
df['c2_rated'].fillna(df['c2_rated'].mean(),inplace=True)
df['Contact_age'].fillna(df['Contact_age'].mean(),inplace=True)


df['Vehicle_Status'].fillna(df['Vehicle_Status'].value_counts().index[0],inplace=True)
df['Job_Type'].fillna(df['Job_Type'].value_counts().index[0],inplace=True)
df['Prop_List'].fillna(df['Prop_List'].value_counts().index[0],inplace=True)
df['Credit_Inq'].fillna(df['Credit_Inq'].value_counts().index[0],inplace=True)
df['Income_Alt'].fillna(df['Income_Alt'].value_counts().index[0],inplace=True)

In [56]:
df.dropna(inplace=True)
df

,Compensation,Vehicle_Status,Loan_amt,Annuity_amt,density_Ind,Job_Type,Default_hist,Prop_List,Home_Appliances,Region_Type,...,Region,Age,hour_Process,Addr_permanent,Permanent_Addr_tag,c1_rated,c2_rated,Contact_age,Product_bought,Default
0,801850.0,Y,658040.0,13816.52,0.030400,IT,ndf,Morethan_One,3.220891,Metro,...,East,46.0,10.0,Yes,No,0.077000,0.077,18.0,2.0,1.0
1,884222.0,N,198075.0,11173.06,0.019400,IT,ndf,Morethan_One,1.000000,Metro,...,North,46.0,12.0,Yes,Yes,0.184000,0.184,306.0,4.0,0.0
2,284120.0,N,101056.0,8390.40,0.011800,Govt.,ndf,One,4.000000,Metro,...,North,57.0,5.0,Yes,Yes,0.538000,0.538,281.0,4.0,0.0
3,341874.0,N,179008.0,7184.13,0.037300,Non-IT,df,None,2.000000,Metro,...,South,39.0,12.0,Yes,Yes,0.505929,0.561,20.0,4.0,0.0
4,1259895.0,Y,573715.0,13212.77,0.013800,Non-IT,ndf,Morethan_One,1.000000,Rural,...,North,32.0,16.0,Yes,Yes,0.505929,0.200,2339.0,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132435,641706.0,Y,1048272.0,13181.84,0.023800,IT,ndf,One,4.000000,Rural,...,North,43.0,7.0,Yes,Yes,0.886000,0.886,2766.0,5.0,1.0
132436,594160.0,N,640232.0,11911.93,0.026200,IT,ndf,One,4.000000,Metro,...,North,60.0,9.0,Yes,Yes,0.505929,0.641,2581.0,1.0,0.0
132437,1471170.0,N,732914.0,11587.54,0.020446,Non-IT,ndf,One,4.000000,Metro,...,South,51.0,4.0,Yes,Yes,0.384000,0.384,1987.0,3.0,0.0
132438,613585.0,N,528490.2,13008.76,0.005600,Non-IT,ndf,One,4.000000,Metro,...,Central,59.0,14.0,Yes,Yes,0.224000,0.224,1608.0,2.0,1.0
132439,533725.0,Y,330222.0,10250.65,0.020446,Govt.,ndf,Morethan_One,1.000000,Rural,...,North,34.0,13.0,Yes,Yes,0.128000,0.128,11.0,2.0,1.0

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132440 entries, 0 to 132439
Data columns (total 32 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Compensation        132440 non-null  float64
 1   Vehicle_Status      132440 non-null  object
 2   Loan_amt            132440 non-null  float64
 3   Annuity_amt         132440 non-null  float64
 4   density_Ind         132440 non-null  float64
 5   Job_Type            132440 non-null  object
 6   Default_hist        132440 non-null  object
 7   Prop_List           132440 non-null  object
 8   Home_Appliances     132440 non-null  float64
 9   Region_Type         132440 non-null  object
 10  Credit_Inq          132440 non-null  object
 11  Education_det       132440 non-null  object
 12  Marital_Stat        132440 non-null  object
 13  Gen                 132440 non-null  object
 14  Credit_Lnks         132440 non-null  object
 15  Experience          132440 non-null  float64
 16  Income_Alt          132440 non-null  object
 17  Day_Process         132440 non-null  object
 18  Ph.No               132440 non-null  object
 19  Type_Loan           132440 non-null  object
 20  Dependents          132440 non-null  float64
 21  Company_Rating      132440 non-null  float64
 22  Region              132440 non-null  object
 23  Age                 132440 non-null  float64
 24  hour_Process        132440 non-null  float64
 25  Addr_permanent      132440 non-null  object
 26  Permanent_Addr_tag  132440 non-null  object
 27  c1_rated            132440 non-null  float64
 28  c2_rated            132440 non-null  float64
 29  Contact_age         132440 non-null  float64
 30  Product_bought      132440 non-null  float64
 31  Default             132440 non-null  float64
dtypes: float64(15), object(17)
memory usage: 33.3+ MB

In [58]:
# df = pd.get_dummies(df,drop_first=True)
X = df.drop('Default', axis=1)

y = df['Default']

In [59]:
categorical_features_indices = np.where(X.dtypes == "object")[0]
categorical_features_indices

array([ 1,  5,  6,  7,  9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 22, 25, 26],
      dtype=int64)

In [ ]:
from catboost import CatBoostClassifier
clf = CatBoostClassifier(random_state=1,cat_features=categorical_features_indices)
model=clf.fit(X,y)

Learning rate set to 0.082992
0:	learn: 0.6739766	total: 114ms	remaining: 1m 54s
1:	learn: 0.6580010	total: 249ms	remaining: 2m 4s
2:	learn: 0.6445898	total: 361ms	remaining: 1m 59s
3:	learn: 0.6334623	total: 484ms	remaining: 2m
4:	learn: 0.6241119	total: 600ms	remaining: 1m 59s
5:	learn: 0.6163577	total: 734ms	remaining: 2m 1s
6:	learn: 0.6098913	total: 864ms	remaining: 2m 2s
7:	learn: 0.6044591	total: 998ms	remaining: 2m 3s
8:	learn: 0.5999459	total: 1.12s	remaining: 2m 3s
9:	learn: 0.5961665	total: 1.25s	remaining: 2m 3s
10:	learn: 0.5929751	total: 1.38s	remaining: 2m 4s
11:	learn: 0.5903262	total: 1.53s	remaining: 2m 5s
12:	learn: 0.5881434	total: 1.59s	remaining: 2m 1s
13:	learn: 0.5863046	total: 1.7s	remaining: 1m 59s
14:	learn: 0.5847346	total: 1.82s	remaining: 1m 59s
15:	learn: 0.5833905	total: 1.98s	remaining: 2m 1s
16:	learn: 0.5822405	total: 2.11s	remaining: 2m 2s
17:	learn: 0.5813137	total: 2.23s	remaining: 2m 1s
18:	learn: 0.5804978	total: 2.37s	remaining: 2m 2s
19:	learn: 0.5798154	total: 2.47s	remaining: 2m 1s
20:	learn: 0.5791713	total: 2.62s	remaining: 2m 2s
21:	learn: 0.5786968	total: 2.75s	remaining: 2m 2s
22:	learn: 0.5782542	total: 2.87s	remaining: 2m 1s
23:	learn: 0.5779130	total: 2.94s	remaining: 1m 59s
24:	learn: 0.5776021	total: 3.07s	remaining: 1m 59s
25:	learn: 0.5773579	total: 3.21s	remaining: 2m
26:	learn: 0.5770862	total: 3.33s	remaining: 1m 59s
27:	learn: 0.5768828	total: 3.47s	remaining: 2m
28:	learn: 0.5767085	total: 3.59s	remaining: 2m
29:	learn: 0.5765258	total: 3.73s	remaining: 2m
30:	learn: 0.5764124	total: 3.88s	remaining: 2m 1s
31:	learn: 0.5762715	total: 4s	remaining: 2m 1s
32:	learn: 0.5762087	total: 4.03s	remaining: 1m 57s
33:	learn: 0.5761030	total: 4.14s	remaining: 1m 57s
34:	learn: 0.5760229	total: 4.26s	remaining: 1m 57s
35:	learn: 0.5759404	total: 4.39s	remaining: 1m 57s
36:	learn: 0.5759080	total: 4.42s	remaining: 1m 55s
37:	learn: 0.5758287	total: 4.55s	remaining: 1m 55s
38:	learn: 0.5757771	total: 4.68s	remaining: 1m 55s
39:	learn: 0.5757209	total: 4.81s	remaining: 1m 55s
40:	learn: 0.5756362	total: 4.96s	remaining: 1m 55s
41:	learn: 0.5755948	total: 5.08s	remaining: 1m 55s
42:	learn: 0.5755839	total: 5.11s	remaining: 1m 53s
43:	learn: 0.5755533	total: 5.24s	remaining: 1m 53s
44:	learn: 0.5755218	total: 5.4s	remaining: 1m 54s
45:	learn: 0.5754726	total: 5.52s	remaining: 1m 54s
46:	learn: 0.5754205	total: 5.65s	remaining: 1m 54s
47:	learn: 0.5753701	total: 5.79s	remaining: 1m 54s
48:	learn: 0.5753295	total: 5.94s	remaining: 1m 55s
49:	learn: 0.5752753	total: 6.06s	remaining: 1m 55s
50:	learn: 0.5752433	total: 6.2s	remaining: 1m 55s
51:	learn: 0.5752005	total: 6.36s	remaining: 1m 55s
52:	learn: 0.5751521	total: 6.51s	remaining: 1m 56s
53:	learn: 0.5751320	total: 6.63s	remaining: 1m 56s
54:	learn: 0.5750974	total: 6.76s	remaining: 1m 56s
55:	learn: 0.5750338	total: 6.88s	remaining: 1m 56s
56:	learn: 0.5749926	total: 6.99s	remaining: 1m 55s
57:	learn: 0.5749444	total: 7.12s	remaining: 1m 55s
58:	learn: 0.5749012	total: 7.31s	remaining: 1m 56s
59:	learn: 0.5748537	total: 7.45s	remaining: 1m 56s
60:	learn: 0.5748113	total: 7.57s	remaining: 1m 56s
61:	learn: 0.5747859	total: 7.69s	remaining: 1m 56s
62:	learn: 0.5747593	total: 7.81s	remaining: 1m 56s
63:	learn: 0.5747181	total: 7.94s	remaining: 1m 56s
64:	learn: 0.5747179	total: 7.96s	remaining: 1m 54s
65:	learn: 0.5747179	total: 8s	remaining: 1m 53s
66:	learn: 0.5747029	total: 8.12s	remaining: 1m 53s
67:	learn: 0.5746884	total: 8.24s	remaining: 1m 52s
68:	learn: 0.5746396	total: 8.37s	remaining: 1m 52s
69:	learn: 0.5746264	total: 8.46s	remaining: 1m 52s
70:	learn: 0.5746031	total: 8.57s	remaining: 1m 52s
71:	learn: 0.5745942	total: 8.68s	remaining: 1m 51s
72:	learn: 0.5745350	total: 8.79s	remaining: 1m 51s
73:	learn: 0.5745321	total: 8.84s	remaining: 1m 50s
74:	learn: 0.5744925	total: 8.96s	remaining: 1m 50s
75:	learn: 0.5744588	total: 9.08s	remaining: 1m 50s

In [ ]:
df = pd.read_csv('Test_Set_TVS.csv')
df

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df['Compensation'].fillna(df['Compensation'].mean(),inplace=True)
df['Annuity_amt'].fillna(df['Annuity_amt'].mean(),inplace=True)
df['density_Ind'].fillna(df['density_Ind'].mean(),inplace=True)
df['Home_Appliances'].fillna(df['Home_Appliances'].mean(),inplace=True)
df['Experience'].fillna(df['Experience'].mean(),inplace=True)
df['Company_Rating'].fillna(df['Company_Rating'].mean(),inplace=True)
df['c1_rated'].fillna(df['c1_rated'].mean(),inplace=True)
df['c2_rated'].fillna(df['c2_rated'].mean(),inplace=True)
df['Contact_age'].fillna(df['Contact_age'].mean(),inplace=True)


df['Vehicle_Status'].fillna(df['Vehicle_Status'].value_counts().index[0],inplace=True)
df['Job_Type'].fillna(df['Job_Type'].value_counts().index[0],inplace=True)
df['Prop_List'].fillna(df['Prop_List'].value_counts().index[0],inplace=True)
df['Credit_Inq'].fillna(df['Credit_Inq'].value_counts().index[0],inplace=True)
df['Income_Alt'].fillna(df['Income_Alt'].value_counts().index[0],inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
# df = pd.get_dummies(df,drop_first=True)
# x1  = scaler.fit_transform(df) 
# df=pd.DataFrame(x1,columns=df.columns,index=df.index)

In [ ]:
df['Default'] = model.predict(df.drop('ID',axis=1))
df

In [ ]:
pred_prob = model.predict_proba(df.drop(['ID','Default'],axis=1))
pred_prob

In [ ]:
pred_prob = pred_prob[:,1]

In [ ]:
count = 0
for x in pred_prob:
    if x >0.5:
        count+=1
print(count)

In [ ]:
min(pred_prob)

In [ ]:
max(pred_prob)

In [ ]:
#0.258

In [ ]:
custom_prob = 0.30
custom_cutoff_data=[]

for i in range(0,len(pred_prob)):  #2333
    if pred_prob[i] >custom_prob:
        a= 1
    else:
        a=0
    custom_cutoff_data.append(a)

In [ ]:
df['Default'] = custom_cutoff_data

In [ ]:
df2=df[['ID','Default']]
df2['ID'] = df2['ID'].astype('int64')
df2['Default'] = df2['Default'].astype('int64')
df2

In [ ]:
df = pd.read_csv('Test_Set_TVS.csv')
df

In [ ]:
df2['ID'] = df['ID']
df2.info()

In [ ]:
df2.to_csv('cat1.csv',index=0)

In [ ]:
df2['Default'].value_counts()